@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {    
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {    
        display: none;

        @include responsive(large-tablet-screens) {
            display: block;
        }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.card-hall {
    .info-wrap {
        .hall-title {
            display: flex;

            .blue-rec {
                width: 14px;
                height: 30px;
                margin-right: 8px;
                background-color: $point-color;
            }

            h3 {
                font-size: 28px;
                line-height: 30px;
                font-weight: normal;

                @include responsive(large-tablet-screens) {
                    margin-bottom: 20px;
                }
            }
        }

        .seating-chart-btn {
            width: 84px;
            height: 32px;
            margin-bottom: 70px;
            line-height: 32px;
            text-align: center;

            a {
                border: 1px solid #000;
                background-color: white;
            }

            a:hover {
                padding: 1px;
                color: white;
                border: none;
                outline: none;
                background-color: $point-color;
            }
        } /* seating-chart-btn */

        @include responsive(large-tablet-screens) {
            width: 50%;
        }
    }

    @include flex-box() {
        flex-direction: column-reverse;
    }

    @include responsive(large-tablet-screens) {
        @include flex-box() {
            flex-direction: row;
        }
    }


    .hall-img {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        // background-color: aqua;

        .slide-img {
            .item {
            top: 300px;

                // position: absolute;
                // opacity: 0;
                // transition: all 1s;

                // &:first-child {
                //     opacity: 1;
                // }
            }

            img {
                // position: absolute;
                width: 100%;
                background-color: red;
    
                @include responsive(large-tablet-screens) {
                    height: auto;
                }
            }

            @include responsive(large-tablet-screens) {
                width: 100%;
            }
        } // slide-img

        .slide-btn {
            // background-color: red;
        }
        .prev {
            left: 10px;
            @include pos-center-y();
        }

        .next {
            right: 10px;
            @include pos-center-y();
        }
    } /* hall-img */

    @include responsive(large-tablet-screens) {
        margin-bottom: 200px;
    }
}

// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;

    .header-bg {
        width: 100%; 
        height: 100vh;
        overflow: hidden;
        margin-bottom: 140px;
        @include responsive (large-tablet-screens) {
            margin-bottom: 280px;
        }

        img {
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
    } // header-bg

    .logo-menu-box {
        position: absolute;
        top: 0; left: 0; right: 0;
        
        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {     
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {     
                            width: 132px;
                        }
                    }
                }
            } // header-logo

            nav.main-menu {
                display: none;
                width: 504px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        a {
                            font-size: $sub-title-font-size;
                            color: #fff;

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            &:hover::after {
                                transform: scale(1);
                            }
                        }

                        .lnb {
                            display: none;
                        }
                    }
                } // gnb
            } // nav.main-menu

            .right-menu {
                width: 80px;
                @include pos-center-y() {
                    right: 0;
                }
                
                @include responsive(small-tablet-screens) {
                    width: 110px;
                }
                
                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();
                    
                    li {
                        a {
                            color: #fff;
                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after { 
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        } // a
                    } // li
                } // ul
            } // right-menu
        } // flex-box
    } // logo-menu-box
} // header


// * ===================== main ===================== *

main {
    .container {
        // background-color: yellow;

        h1 {
            font-size: 0;
        }
    
        h2 {
            font-size: 36px;
            margin-bottom: 50px;
    
    
            @include responsive (large-tablet-screens) {
                font-size: 38px;
                margin-bottom: 100px;
            }
        }

        .seating-wrap {
            position: relative;

            .shinhan-card-hall {
                .info-wrap {
                    .seat-info-box {
                        position: relative;
                        margin: 20px 0;

                        .seat-info {
                            position: relative;
                            display: flex;

                            p {
                                padding-bottom: 14px;
                            }

                            .seat-num {
                                position: absolute;
                                left: 50%;
                            }
                        }
                    }
                }
            } /* shinhan-card-hall */
    
            .master-card-hall {
                .seat-info-box-m {
                    position: relative;
                    margin: 20px 0;

                    .seat-info-m {
                        position: relative;
                        display: flex;
                        height: 80px;
            
                        p {
                            padding-bottom: 14px;
                        }

                        .seat-num-m {
                            position: absolute;
                            left: 50%;
                        }
                    }
                }
            } /* master-card-hall */
        } /* seating-wrap */
    } /* container */
} /* main */

// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;
    
    @include responsive(large-tablet-screens) {
        height: 800px;
    }
    
    .flex-box {
        position: relative;
        @include flex-box() {
            flex-direction: column-reverse;
        }
        
        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }
        
        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;
                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;
                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }
                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;
                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }
                letter-spacing: -0.0769230769em;
            }

        } // left-contents

        .right-contents {
            width: 33%;
            
            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;
                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                & > li {
                    padding-top: 56px;
                }
                
                li {                                 
                    color: #fff;
                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }
                    
                    &:last-child > .social-menu {
                        margin-top: 34px;
                    }
                    
                    .menu-contents {
                        margin-top: 35px;

                        li {     
                            a {
                                padding-bottom: 12px;
                                color: #fff;
                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }

                                
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                            
                            &:last-child > a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;
                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }
                                    background-color: transparent;
                                    -webkit-appearance: none;
                                       -moz-appearance: none;
                                            appearance: none;
                                    &::-ms-expand {
                                        display: none;
                                    }                                    
                                
                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }
                                    
                                } // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px; right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus + span > img {
                                    transform: rotate(180deg);
                                }
                            } // form
                        } // li                                            
                    } // ul.menu-contents                    
                } // li
            } // footer-menu
        } // right-contents
        
        .footer-title {
            position: absolute;
            top: 65%; right: 0; left: 0;
            transform: translate(0, -50%);
            text-align: center;
            
            h1 {
                font: {
                    size: calc(38px + 9.8vw);
                    family: $eng-font;
                    weight: 500;
                }
            }
        } // footer-title

    } // flex-box

    .line {
        position: relative;
        span {
            position: absolute;
            bottom: 280px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }        
    } // div.line
} // footer