@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {
    display: none;

    @include responsive(large-tablet-screens) {
        display: block;
    }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;

    .header-bg {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // header-bg

    .logo-menu-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {
                            width: 132px;
                        }
                    }
                }
            }

            // header-logo

            nav.main-menu {
                display: none;
                width: 504px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        a {
                            font-size: $sub-title-font-size;
                            color: #fff;

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            &:hover::after {
                                transform: scale(1);
                            }
                        }

                        .lnb {
                            display: none;
                        }
                    }
                }

                // gnb
            }

            // nav.main-menu

            .right-menu {
                width: 80px;

                @include pos-center-y() {
                    right: 0;
                }

                @include responsive(small-tablet-screens) {
                    width: 110px;
                }

                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();

                    li {
                        a {
                            color: #fff;

                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        }

                        // a
                    }

                    // li
                }

                // ul
            }

            // right-menu
        }

        // flex-box
    }

    // logo-menu-box    
}

// header


// * ===================== main ===================== *

main {
    margin: 266px 0;

    h1.title {
        font-weight: 600;
        font-size: 36px;

        @include responsive(small-tablet-screens) {
            margin-bottom: 58px;
        }

        @include responsive(large-tablet-screens) {
            font-size: 38px;
        }
    }

    .txtBox {
        display: none;
        height: 143px;
        @include pos-center-x();
        border: 1px solid #000;
        text-align: center;

        @include responsive(small-tablet-screens) {
            min-width: 560px;
            display: block;
        }

        @include responsive(large-tablet-screens) {
            min-width: 824px;
            display: block;
        }

        @include responsive(desktop-screens) {
            width: 1166px;
        }

        div {
            @include flex-box();
            justify-content: left;
            @include pos-center();
            white-space: nowrap;

            img {
                margin-right: 10px;
                width: 32px;
                height: 18px;
            }
            p {
                margin-top: -2px;
                font-size: $tab-font-size;
                font-weight: 600;
            }
        }
        
    } //txtBox
    
    .ticketing {

        @include responsive(small-tablet-screens) {
            margin-top: 212px;
            margin-bottom: 70px;
        }

        .hall-title {
                display: flex;
                padding-top: 70px;
                margin-bottom: 38px;

            .blue-sq {
                width: 5px;
                height: 30px;
                margin-right: 8px;
                margin-top: 0px;
                background-color: $point-color;
            }
            h2 {
                font-weight: 600;
                font-size: 26px;
            }
        } //hall-title
    

        .way {
            margin-bottom: 38px;

            h3 {
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 600;

                @include responsive(large-tablet-screens) {
                    font-size: 18px;
                }
            }

            .internet {
                // background-color: aqua;
                @include flex-box() {
                    justify-content: left;
                    flex-wrap: nowrap;
                }
                margin-bottom: 10px;

                p.bd {
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 14px;
                    margin-right: 10px;

                    @include responsive(large-tablet-screens) {
                        font-size: 16px;
                    }
                }
                p.txt {
                    margin-top: -2px;
                    font-size: 14px;
                    line-height: 20px;

                    @include responsive(large-tablet-screens) {
                        margin-top: -1px;
                        font-size: 16px;
                    }

                    a {
                        // display: inline-block;
                        width: 67px;
                        color: #fff;
                        padding: 0 4px;
                        font-size: $mini-text-font-size;
                        background-color: $point-color;
                        margin-left: 3px;

                        i {
                            margin-left: 5px;
                        }

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }
            } //internet
            .call {
                @include flex-box() {
                    justify-content: left;
                    flex-wrap: nowrap;
                }
                margin-bottom: 10px;

                p.bd {
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 14px;
                    margin-right: 23px;

                    @include responsive(large-tablet-screens) {
                        font-size: 16px;
                    }
                }

                p.txt {
                    margin-top: -2px;
                    font-size: 14px;
                    line-height: 20px;

                    @include responsive(large-tablet-screens) {
                        margin-top: -1px;
                        font-size: 16px;
                    }
                }
            } //call
        } //way

        .fee {

            h3 {
                margin-bottom: 25px;
                font-size: 16px;
                font-weight: 600;

                @include responsive(large-tablet-screens) {
                    font-size: 18px;
                }
            }

            .internet {
                @include flex-box() {
                    justify-content: left;
                    flex-wrap: nowrap;
                }
                margin-bottom: 10px;

                p.bd {
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 14px;
                    margin-right: 10px;

                    @include responsive(large-tablet-screens) {
                        font-size: 16px;
                    }
                }

                p.txt {
                    margin-top: -2px;
                    font-size: 14px;
                    line-height: 20px;

                    @include responsive(large-tablet-screens) {
                        margin-top: -1px;
                        font-size: 16px;
                    }
                }
            } //internet

            .call {
                @include flex-box() {
                    justify-content: left;
                    flex-wrap: nowrap;
                }
                margin-bottom: 10px;

                p.bd {
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 14px;
                    margin-right: 23px;

                    @include responsive(large-tablet-screens) {
                        font-size: 16px;
                    }
                }

                p.txt {
                    margin-top: -2px;
                    font-size: 14px;
                    line-height: 20px;

                    @include responsive(large-tablet-screens) {
                        margin-top: -1px;
                        font-size: 16px;
                    }
                }
            } //call
        } //fee
    } //ticketing
    .calloff {
        margin-bottom: 266px;

        .hall-title {
            display: flex;
            margin-bottom: 38px;
            .blue-sq {
                width: 5px;
                height: 30px;
                margin-right: 8px;
                margin-top: 0px;
                background-color: $point-color;
            }
        
            h2 {
                // margin-bottom: 20px;
                font-weight: 600;
                font-size: 26px;
            }

        } //hall-title
        
        .deadline {
            margin-bottom: 38px;

            h3 {
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 600;

                @include responsive(large-tablet-screens) {
                    font-size: 18px;
                }
            }

            p {
                font-size: 14px;
                line-height: 1.5;

                @include responsive(large-tablet-screens) {
                    font-size: 16px;
                }
            }
        } //.deadline
        
        .coff-fee {

            h3 {
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 600;

                @include responsive(large-tablet-screens) {
                    font-size: 18px;
                }
            }

            p {
                font-size: 14px;
                line-height: 1.5;

                @include responsive(large-tablet-screens) {
                    font-size: 16px;
                }
            }
            
            div.box {
                margin: 10px 0;
                padding: 5px;
                background-color: $gray-bg;

                @include responsive(large-tablet-screens) {
                    padding: 20px;
                    max-width: 800px;
                }
                
                p {
                    font-size: 14px;
                    line-height: 1.5;

                    @include responsive(large-tablet-screens) {
                        font-size: 16px;
                    }

                    span {
                        font-weight: 600;
                    }
                }
            } //div.box
        } //coff-fee
    } //.calloff


}

// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;

    @include responsive(large-tablet-screens) {
        height: 800px;
    }

    .flex-box {
        position: relative;

        @include flex-box() {
            flex-direction: column-reverse;
        }

        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }

        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;

                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;

                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }

                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;

                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }

                letter-spacing: -0.0769230769em;
            }

        }

        // left-contents

        .right-contents {
            width: 33%;

            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;

                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                &>li {
                    padding-top: 56px;
                }

                li {
                    color: #fff;

                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }

                    &:last-child>.social-menu {
                        margin-top: 34px;
                    }

                    .menu-contents {
                        margin-top: 35px;

                        li {
                            a {
                                padding-bottom: 12px;
                                color: #fff;

                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }


                                &:hover {
                                    font-weight: bold;
                                }
                            }

                            &:last-child>a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;

                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }

                                    background-color: transparent;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;

                                    &::-ms-expand {
                                        display: none;
                                    }

                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }

                                }

                                // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px;
                                    right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus+span>img {
                                    transform: rotate(180deg);
                                }
                            }

                            // form
                        }

                        // li                                            
                    }

                    // ul.menu-contents                    
                }

                // li
            }

            // footer-menu
        }

        // right-contents

        .footer-title {
            position: absolute;
            top: 65%;
            right: 0;
            left: 0;
            transform: translate(0, -50%);
            text-align: center;

            h1 {
                font: {
                    size: calc(38px + 9.8vw);
                    family: $eng-font;
                    weight: 500;
                }
            }
        }

        // footer-title

    }

    // flex-box

    .line {
        position: relative;

        span {
            position: absolute;
            bottom: 280px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
    }

    // div.line
}

// footer