@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {
    display: none;

    @include responsive(large-tablet-screens) {
        display: block;
    }
}

@keyframes mover {
    from {
        width: 0%;

    }

    to {
        width: 100%;

    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    100% {
        transform: none;
        opacity: 1;

    }
}

@keyframes text-loop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

}

@keyframes scaleImg {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;

    // .header-bg {
    //     width: 100%; 
    //     height: 100vh;
    //     overflow: hidden;

    //      video {
    //         width: 100%; 
    //         height: 100%;
    //         object-fit: cover;
    //      }
    // } //header-bg

    //==========overview header!!!==========//
    .ov-header {
        width: 100%;
        height: 100vh;

        .hd-img {
            img.mb {
                width: 100%;
                height: 100vh;
                transform: scale(1.1);
                animation: scaleImg 2s forwards;

                @include responsive(small-tablet-screens) {
                    display: none;
                }
            }


            img.pc {
                width: 100%;
                height: 100vh;
                display: none;
                transform:scale(1.1);
                animation:scaleImg 2s forwards;

                @include responsive(small-tablet-screens) {
                    display: block;
                }
            }

            .line-box {
                display: inline-block;
                position: relative;
                width: 100%;
                height: 100%;

                @include pos-center();

                div.p-box {
                    position: relative;

                    p {
                        opacity: 0;
                        animation: fadeUp 3s;
                        animation-delay: 2s;
                        animation-fill-mode: forwards;

                        font: {
                            size: calc(1vw + 30px);
                            weight: 500;
                            family: $eng-font;
                        }

                        @include responsive(mobile-screens) {
                            font-size: calc(1vw + 40px);
                        }

                        @include responsive(small-tablet-screens) {
                            font-size: calc(1vw + 50px);
                        }

                        @include responsive(large-tablet-screens) {
                            font-size: calc(1vw + 60px);
                        }

                        @include responsive(desktop-screens) {
                            font-size: calc(1vw + 70px);
                        }
                    }

                    &::before {
                        position: absolute;
                        top: -20px;
                        left: 0px;
                        display: block;
                        content: "";
                        width: 100%;
                        height: 3px;
                        background-color: white;
                        animation: mover 2s;

                        @include responsive(large-tablet-screens) {
                            height: 4px;
                        }
                    }

                    &::after {
                        position: absolute;
                        bottom: -20px;
                        right: 0;
                        display: block;
                        content: "";
                        width: 100%;
                        height: 3px;
                        background-color: white;
                        animation: mover 2s;

                        @include responsive(large-tablet-screens) {
                            height: 4px;
                        }
                    }

                    @include pos-center();
                    text-align: center;
                    color: #fff;
                }

                //span
            }

            // line-box
        }

        //hd-img
    }

    //.ov-header

    //==========overview header end==========//

    .logo-menu-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {
                            width: 132px;
                        }
                    }
                }
            }

            // header-logo

            nav.main-menu {
                display: none;
                width: 504px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        a {
                            font-size: $sub-title-font-size;
                            color: #fff;

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            &:hover::after {
                                transform: scale(1);
                            }
                        }

                        .lnb {
                            display: none;
                        }
                    }
                }

                // gnb
            }

            // nav.main-menu

            .right-menu {
                width: 80px;

                @include pos-center-y() {
                    right: 0;
                }

                @include responsive(small-tablet-screens) {
                    width: 110px;
                }

                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();

                    li {
                        a {
                            color: #fff;

                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        }

                        // a
                    }

                    // li
                }

                // ul
            }

            // right-menu
        }

        // flex-box
    }

    // logo-menu-box  
}

// header

// * ===================== main ===================== *

main {
    margin: 266px 0;

    .title {
        font-weight: 600;
        font-size: 0;

        @include responsive(large-tablet-screens) {
            margin-bottom: 70px;
            font-size: 38px;
        }
    }

    .page-info1 {
        // background-color:aqua;
        @include flex-box();
        flex-direction: column-reverse;
        margin-top: 70px;

        @include responsive(large-tablet-screens) {
            flex-direction: row;
        }

        .info-img img {
            // opacity: 0;
            width: 100%;
            // animation: fadeIn_X 1s 3s linear forwards;

            @include responsive(large-tablet-screens) {
                width: 300;
                height: 300;
                padding-right: 60px;
            }

            @include responsive(desktop-screens) {
                width: 100%;
            }
        }

        .info-txt {
            // background-color: blueviolet;
            // opacity: 0;
            padding-left: 0;
            margin-bottom: 40px;
            animation: fadeIn 1s 3s linear forwards;

            @include responsive(large-tablet-screens) {
                width: 358px;
                height: 454px;
            }

            @include responsive(desktop-screens) {
                padding-top: 80px;
                width: 474px;
            }

            p.txt1 {
                font: {
                    size: 14px;
                    weight: 600;
                    family: $eng-font;
                }

                color: #0094d6;

                @include responsive(large-tablet-screens) {
                    margin-top: 40px;
                }
            }

            p.txt2 {
                font-size: 26px;
                font-weight: 600;
                line-height: 1.5;
                margin: 40px 0;
            }

            p.txt3 {
                line-height: 1.5;
                font-size: 16px;

                @include responsive(large-tablet-screens) {
                    // background-color: pink;
                    width: 358px;
                }

                @include responsive(desktop-screens) {
                    width: 474px;
                }
            }
        }

        //.info-txt
    }

    //page-info1

    .page-info2 {
        // background-color:aqua;
        @include flex-box();
        flex-direction: column;
        margin-top: 134px;

        @include responsive(large-tablet-screens) {
            flex-direction: row;
        }

        .info-img img {
            // opacity: 0;
            width: 100%;
            // animation: fadeIn_right 1s 3s forwards;

            @include responsive(large-tablet-screens) {
                min-width: 300;
                height: 300;
                padding-left: 60px;
            }

            @include responsive(desktop-screens) {
                width: 100%;
            }
        }

        .info-txt {
            // background-color: blueviolet;
            // opacity: 0;
            margin-bottom: 40px;
            // animation: fadeIn 1s 3s forwards;


            @include responsive(large-tablet-screens) {
                // margin-top: 10px;
                // padding-top: 40px;
                padding-right: 0;
                width: 374px;
                height: 454px;
            }

            @include responsive(desktop-screens) {
                padding-top: 80px;
                width: 474px;
            }

            p.txt1 {
                font: {
                    size: 14px;
                    weight: 600;
                    family: $eng-font;
                }

                color: #0094d6;

                @include responsive(large-tablet-screens) {
                    margin-top: 40px;
                }

                @include responsive(desktop-screens) {
                    margin-left: 100px;
                }
            }

            p.txt2 {
                font-size: 26px;
                font-weight: 600;
                line-height: 1.5;
                margin-top: 40px;
                margin-bottom: 40px;

                @include responsive(desktop-screens) {
                    margin-left: 100px;
                }
            }

            p.txt3 {
                line-height: 1.5;
                font-size: 16px;

                @include responsive(large-tablet-screens) {
                    // background-color: pink;
                    width: 374px;
                }

                @include responsive(desktop-screens) {
                    margin-left: 100px;
                }

            }
        }

        //.info-txt
    }

    //page-info2

    .page-info3 {
        // background-color:aqua;
        @include flex-box();
        flex-direction: column-reverse;
        margin-top: 134px;

        @include responsive(large-tablet-screens) {
            flex-direction: row;
        }

        .info-img img {
            // opacity: 0;
            width: 100%;

            @include responsive(large-tablet-screens) {
                width: 300;
                height: 300;
                padding-right: 60px;
            }

            @include responsive(desktop-screens) {
                width: 100%;
            }
        }

        .info-txt {
            // background-color: blueviolet;
            // opacity: 0;
            // padding-left: 0px;
            margin-bottom: 40px;
            // animation: fadeIn 1s 3s linear forwards;

            @include responsive(large-tablet-screens) {
                width: 370px;
                height: 454px;
                margin-bottom: 0px;
            }

            @include responsive(desktop-screens) {
                margin-top: 10px;
                padding-top: 80px;
                width: 474px;
            }

            p.txt1 {
                font: {
                    size: 14px;
                    weight: 600;
                    family: $eng-font;
                }

                // padding-bottom: 15px;
                color: #0094d6;

                @include responsive(large-tablet-screens) {
                    margin-top: 40px;
                }
            }

            p.txt2 {
                font-size: 26px;
                font-weight: 600;
                line-height: 1.5;
                margin: 40px 0;
            }

            p.txt3 {
                line-height: 1.5;
                font-size: 16px;

                @include responsive(large-tablet-screens) {
                    // background-color: pink;
                    width: 370px;
                }

                @include responsive(desktop-screens) {
                    width: 474px;
                }
            }
        }

        //.info-txt
    }

    //page-info3


    .bottom-txt {
        // background-color: azure;
        max-width: 587px;
        height: 163px;
        margin-top: 134px;
        // @include pos-center-x();

        @include responsive(small-tablet-screens) {
            position: absolute;
            left: 50%;
            margin-left: -293.5px;

        }

        div.b-txt {
            // opacity: 0;
            text-align: center;
            width: 100%;
            font-size: 16px;
            line-height: 26px;

            .bold-txt {
                font-weight: 600;
            }

            @include responsive(large-tablet-screens) {
                font-size: 18px;
                line-height: 40px;
            }
        }
    }

    //.bottom-txt

    .flow-txt-wrap {
        margin-top: 134px;
        font-size: 120px;

        @include responsive(small-tablet-screens) {
            padding-top: 238px;
        }

        @include responsive(large-tablet-screens) {
            padding-top: 297px;
        }

        div {
            color: $point-color;
            // color: $gray-bg;
            opacity: 0.5;
            display: flex;
            white-space: nowrap;
            font-size: 100px;
            font-weight: 600;

            @include responsive(small-tablet-screens) {

                font-size: 150px;
            }

            @include responsive(large-tablet-screens) {
                font-size: 200px;

            }

            .flow-txt {
                padding-right: 22px;
                animation: text-loop 10s linear infinite;
            }
        }
    }
}

//main




// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;

    @include responsive(large-tablet-screens) {
        height: 800px;
    }

    .flex-box {
        position: relative;

        @include flex-box() {
            flex-direction: column-reverse;
        }

        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }

        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;

                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;

                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }

                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;

                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }

                letter-spacing: -0.0769230769em;
            }

        }

        // left-contents

        .right-contents {
            width: 33%;

            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;

                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                &>li {
                    padding-top: 56px;
                }

                li {
                    color: #fff;

                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }

                    &:last-child>.social-menu {
                        margin-top: 34px;
                    }

                    .menu-contents {
                        margin-top: 35px;

                        li {
                            a {
                                padding-bottom: 12px;
                                color: #fff;

                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }


                                &:hover {
                                    font-weight: bold;
                                }
                            }

                            &:last-child>a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;

                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }

                                    background-color: transparent;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;

                                    &::-ms-expand {
                                        display: none;
                                    }

                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }

                                }

                                // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px;
                                    right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus+span>img {
                                    transform: rotate(180deg);
                                }
                            }

                            // form
                        }

                        // li                                            
                    }

                    // ul.menu-contents                    
                }

                // li
            }

            // footer-menu
        }

        // right-contents

        .footer-title {
            position: absolute;
            top: 65%;
            right: 0;
            left: 0;
            transform: translate(0, -50%);
            text-align: center;

            h1 {
                font: {
                    size: calc(38px + 9.8vw);
                    family: $eng-font;
                    weight: 500;
                }
            }
        }

        // footer-title

    }

    // flex-box

    .line {
        position: relative;

        span {
            position: absolute;
            bottom: 280px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
    }

    // div.line
}

// footer