@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {    
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {    
        display: none;

        @include responsive(large-tablet-screens) {
            display: block;
        }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;

    .header-bg {
        width: 100%; 
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
    } // header-bg

    .logo-menu-box {
        position: absolute;
        top: 0; left: 0; right: 0;
        
        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {     
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {     
                            width: 132px;
                        }
                    }
                }
            } // header-logo

            nav.main-menu {
                display: none;
                width: 504px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        a {
                            font-size: $sub-title-font-size;
                            color: #fff;

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            &:hover::after {
                                transform: scale(1);
                            }
                        }

                        .lnb {
                            display: none;
                        }
                    }
                } // gnb
            } // nav.main-menu

            .right-menu {
                width: 80px;
                @include pos-center-y() {
                    right: 0;
                }
                
                @include responsive(small-tablet-screens) {
                    width: 110px;
                }
                
                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();
                    
                    li {
                        a {
                            color: #fff;
                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after { 
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        } // a
                    } // li
                } // ul
            } // right-menu
        } // flex-box
    } // logo-menu-box    
} // header


// * ===================== main ===================== *

main {   
    h2 {
        font-size: 0;
    }

    ul.tab {
        margin-top: 100px;
        margin-bottom: 50px;
        border-bottom: 1px solid #ccc;

        overflow: auto;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none; 
        }

        @include flex-box() {
            justify-content: flex-start;
        }

        li {
            margin-right: 60px;

            &:last-child {
                margin-right: 0;

            }

            @include responsive(large-tablet-screens) {
                margin-right: 120px;
            }

            a {
                &::after {
                    display: block;
                    content: "";
                    width: 100%;
                    height: 1px;
                    margin-top: 5px;
                    background-color: #000;
                    transform: scale(0);
                    transition: all 0.5s;
                }

                &:hover {
                    font-weight: 600;
                }

                &:hover::after {
                    transform: scale(1);
                }
            }
        }
    } //ul.tab

    .inner-tab {
        @include flex-box() {
            justify-content: center;
        }

        li {
            padding: 0 20px 20px;

            &:first-child {
                border-right: 1px solid #ccc;
                height: 14px;
            }

            a {
                color: #ccc;

                &:hover {
                    color: $point-color;
                    font-weight: 600;
                }
            }
        } //li
    } //inner-tab

    .venue-guidance {
        .flexbox {
            // height: 1000px;
            background-color: lightsalmon;

            @include responsive(large-tablet-screens) {
                display: flex;
            }
            
            .slide-wrap {
                background-color: lightseagreen;

                @include responsive(large-tablet-screens) {
                    width: 100%;
                }

                .slide-img {
                    width: 100%;

                    
                    img {
                        width: 100%;
                        top: 300px;

                        // position: absolute;
                        // opacity: 0;
                        // transition: all 1s;

                        &:first-child {
                            opacity: 1;
                        }
                    }

                } //slide-img
                
                .slide-btn {
                    @include flex-box();


                }
            } //slide-wrap

            .intro-equip-wrap {
                // position: absolute;
                // top: 700px;
                
                @include responsive(large-tablet-screens) {
                    width: 100%;
                    margin-left: 20px;
                }

                .intro {
                    line-height: 24px;
                    // background-color: lightblue;

                    @include responsive(large-tablet-screens) {
                        width: 100%;
                    }

                }

                .equipment-list {
                    margin-top: 30px;

                    h3 {
                        margin-bottom: 10px;
                    }

                    .btn-flex {
                        display: flex;
                        line-height: 30px;
    
                        div {
                            width: 120px;
                            padding-right: 20px;
                            // margin-bottom: 10px;
                        }

                        a {
                            // background-color: yellow;
                        }
    
                        .download {
                            width: 120px;
                            height: 30px;
                            color: white;
                            border: 0;
                            border-radius: 30px;
                            cursor: pointer;
                            background-color: $point-color;
                        }
                    } //btn-flex

                    .list1 {
                        margin-bottom: 10px;
                    }
                } //equipment-list
            } //venue-info
        } //flexbox
    } //venue-guidance
} //main


// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;
    
    @include responsive(large-tablet-screens) {
        height: 800px;
    }
    
    .flex-box {
        position: relative;
        @include flex-box() {
            flex-direction: column-reverse;
        }
        
        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }
        
        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;
                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;
                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }
                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;
                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }
                letter-spacing: -0.0769230769em;
            }

        } // left-contents

        .right-contents {
            width: 33%;
            
            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;
                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                & > li {
                    padding-top: 56px;
                }
                
                li {                                 
                    color: #fff;
                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }
                    
                    &:last-child > .social-menu {
                        margin-top: 34px;
                    }
                    
                    .menu-contents {
                        margin-top: 35px;

                        li {     
                            a {
                                padding-bottom: 12px;
                                color: #fff;
                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }

                                
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                            
                            &:last-child > a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;
                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }
                                    background-color: transparent;
                                    -webkit-appearance: none;
                                       -moz-appearance: none;
                                            appearance: none;
                                    &::-ms-expand {
                                        display: none;
                                    }                                    
                                
                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }
                                    
                                } // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px; right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus + span > img {
                                    transform: rotate(180deg);
                                }
                            } // form
                        } // li                                            
                    } // ul.menu-contents                    
                } // li
            } // footer-menu
        } // right-contents
        
        .footer-title {
            position: absolute;
            top: 65%; right: 0; left: 0;
            transform: translate(0, -50%);
            text-align: center;
            
            h1 {
                font: {
                    size: calc(38px + 9.8vw);
                    family: $eng-font;
                    weight: 500;
                }
            }
        } // footer-title

    } // flex-box

    .line {
        position: relative;
        span {
            position: absolute;
            bottom: 280px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }        
    } // div.line
} // footer