@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 16px "Pretendard", "Nanum Gothic", "맑은 고딕";
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    padding: 0;
  }
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

.large-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .large-only {
    display: block;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100vw;
}
header .space-header {
  display: none;
}
header .space-header.show {
  display: block;
}
header .header-bg-bookpark {
  width: 100%;
  height: 100vh;
}
header .header-bg-bookpark img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@-webkit-keyframes left-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes left-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes top-down {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes top-down {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
header .header-bg-bookpark .square {
  position: absolute;
  width: 280px;
  height: 280px;
  color: white;
  font-size: 42px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .header-bg-bookpark .square .square-liner {
  position: absolute;
  background-color: white;
  height: 5px;
}
header .header-bg-bookpark .square .sqare-line1 {
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  -webkit-animation: left-right 2s;
          animation: left-right 2s;
}
header .header-bg-bookpark .square .sqare-line2 {
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  -webkit-animation: top-down 2s;
          animation: top-down 2s;
}
header .header-bg-bookpark .square .sqare-line3 {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  -webkit-animation: left-right 2s;
          animation: left-right 2s;
}
header .header-bg-bookpark .square .sqare-line4 {
  left: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  -webkit-animation: top-down 2s;
          animation: top-down 2s;
}
header .header-bg-bookpark .square .square-title {
  position: relative;
  padding: 20px;
  height: 100%;
}
header .header-bg-bookpark .square .square-title span {
  position: absolute;
}
header .header-bg-bookpark .square .square-title span:nth-child(1) {
  top: 10%;
  left: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .header-bg-bookpark .square .square-title span:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .header-bg-bookpark .square .square-title span:nth-child(3) {
  top: 10%;
  right: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 1.6s;
          animation: fadeIn 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .header-bg-bookpark .square .square-title span:nth-child(4) {
  bottom: 10%;
  left: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .header-bg-bookpark .square .square-title span:nth-child(5) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 1.2s;
          animation: fadeIn 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .header-bg-bookpark .square .square-title span:nth-child(6) {
  bottom: 10%;
  right: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 2.4s;
          animation: fadeIn 2.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .header-bg-sodam {
  display: none;
  width: 100%;
  height: 100vh;
}
header .header-bg-sodam img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes left-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes top-down {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
header .header-bg-sodam .square {
  position: absolute;
  width: 280px;
  height: 280px;
  color: white;
  font-size: 42px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .header-bg-sodam .square .square-liner {
  position: absolute;
  background-color: white;
  height: 5px;
}
header .header-bg-sodam .square .sqare-line1 {
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  -webkit-animation: left-right 2s;
          animation: left-right 2s;
}
header .header-bg-sodam .square .sqare-line2 {
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  -webkit-animation: top-down 2s;
          animation: top-down 2s;
}
header .header-bg-sodam .square .sqare-line3 {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  -webkit-animation: left-right 2s;
          animation: left-right 2s;
}
header .header-bg-sodam .square .sqare-line4 {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  -webkit-animation: top-down 2s;
          animation: top-down 2s;
}
header .header-bg-sodam .square .square-title {
  position: relative;
  padding: 20px;
  height: 100%;
}
header .header-bg-sodam .square .square-title span {
  position: absolute;
}
header .header-bg-sodam .square .square-title span:nth-child(1) {
  top: 10%;
  left: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
header .header-bg-sodam .square .square-title span:nth-child(2) {
  top: 10%;
  right: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
header .header-bg-sodam .square .square-title span:nth-child(3) {
  bottom: 10%;
  left: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
header .header-bg-sodam .square .square-title span:nth-child(4) {
  bottom: 10%;
  right: 10%;
  opacity: 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
header .logo-menu-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .logo-menu-box .flex-box {
  position: relative;
  display: flex;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box {
    height: 100px;
  }
}
header .logo-menu-box .flex-box .header-logo {
  width: 15%;
}
header .logo-menu-box .flex-box .header-logo a img {
  width: 48px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .header-logo a img {
    width: 132px;
  }
}
header .logo-menu-box .flex-box nav.main-menu {
  display: none;
  width: 504px;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box nav.main-menu {
    display: block;
  }
}
header .logo-menu-box .flex-box nav.main-menu .gnb {
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li a {
  font-size: 18px;
  color: #fff;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.4s;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li a:hover::after {
  transform: scale(1);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li .lnb {
  display: none;
}
header .logo-menu-box .flex-box .right-menu {
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media screen and (min-width: 600px) {
  header .logo-menu-box .flex-box .right-menu {
    width: 110px;
  }
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu {
    width: 188px;
  }
}
@media screen and (min-width: 1400px) {
  header .logo-menu-box .flex-box .right-menu {
    right: 0;
  }
}
header .logo-menu-box .flex-box .right-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .logo-menu-box .flex-box .right-menu ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
}
header .logo-menu-box .flex-box .right-menu ul li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.4s;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu ul li a:hover::after {
    transform: scale(1);
  }
}
header .logo-menu-box .flex-box .right-menu ul li a img {
  width: 30px;
}
@media screen and (min-width: 600px) {
  header .logo-menu-box .flex-box .right-menu ul li a img {
    width: 40px;
  }
}

main {
  margin: 266px 0;
}
main h1 {
  display: none;
}
main ul.tab {
  position: relative;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
main ul.tab li {
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  main ul.tab li {
    padding: 0 50px;
  }
}
main ul.tab li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 5px;
  background-color: #000;
  transform: scale(0);
  transition: all 0.5s;
}
main ul.tab li a:hover {
  font-weight: 600;
}
main ul.tab li a:hover::after {
  transform: scale(1);
}
main section {
  display: none;
}
main section.show {
  display: block;
}
main .bookpark .bookpark-intro {
  margin-bottom: 120px;
  text-align: center;
}
main .bookpark .bookpark-intro h2 {
  font-size: 38px;
}
main .bookpark .bookpark-intro p {
  margin-top: 50px;
  line-height: 2em;
}
main .bookpark .bookpark-des-wrap {
  font-size: 16px;
  /* bookpark-des-box-L */
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap {
    font-size: 18px;
  }
}
main .bookpark .bookpark-des-wrap h3 {
  font-size: 24px;
  padding: 30px 0 10px;
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap h3 {
    padding: 0 0 10px;
  }
}
main .bookpark .bookpark-des-wrap p {
  line-height: 1.5em;
}
main .bookpark .bookpark-des-wrap img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap img {
    margin-bottom: 0;
  }
}
main .bookpark .bookpark-des-wrap .bookpark-des-flex {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-flex:last-child {
    height: 440px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-flex {
    height: 690px;
    margin-bottom: 0;
  }
}
main .bookpark .bookpark-des-wrap .bookpark-des-box-L {
  position: relative;
  /* (large-tablet-screens) */
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L {
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .text {
    position: absolute;
    right: 0;
    width: calc(100% - 540px);
    height: 100%;
    background-color: azure;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .text div {
    display: inline-block;
    background-color: pink;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square1 {
    position: absolute;
    width: 540px;
    height: 690px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square1 .square1 {
    position: relative;
    width: 440px;
    height: 500px;
    background-color: #0094d6;
    opacity: 0.2;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square1 .frontimg {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square1 .frontimg img {
    width: 500px;
    height: 650px;
  }
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square3 {
    position: absolute;
    width: 540px;
    height: 690px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square3 .square3 {
    position: relative;
    width: 450px;
    height: 600px;
    background-color: #0094d6;
    opacity: 0.8;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square3 .frontimg {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-L .img-and-square3 .frontimg img {
    width: 500px;
    height: 650px;
  }
}
main .bookpark .bookpark-des-wrap .bookpark-des-box-R {
  position: relative;
  /* (large-tablet-screens) */
}
@media screen and (min-width: 1024px) {
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R {
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .text {
    position: absolute;
    left: 0;
    width: calc(100% - 540px);
    height: 100%;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .text div {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square2 {
    position: absolute;
    width: 540px;
    height: 690px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square2 .square2 {
    position: absolute;
    right: 0;
    width: 360px;
    height: 600px;
    background-color: #0094d6;
    opacity: 0.35;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square2 .frontimg {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square2 .frontimg img {
    width: 500px;
    height: 650px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square4 {
    position: absolute;
    width: 560px;
    height: 440px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square4 .square4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 480px;
    height: 320px;
    background-color: #0094d6;
    opacity: 0.2;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square4 .frontimg {
    position: absolute;
    bottom: 40px;
    right: 40px;
  }
  main .bookpark .bookpark-des-wrap .bookpark-des-box-R .img-and-square4 .frontimg img {
    width: 520px;
    height: 360px;
  }
}
main .bookpark .use-guide {
  margin: 200px 0;
  text-align: center;
}
main .bookpark .use-guide h4 {
  padding-bottom: 10px;
}
main .bookpark .use-guide div:nth-child(2) {
  padding: 30px 0;
}
main .bookpark .use-guide p {
  padding-bottom: 5px;
}
main .sodam .sodam-intro {
  margin-bottom: 300px;
  font-size: 14px;
  text-align: center;
  background-color: yellow;
}
@media screen and (min-width: 1024px) {
  main .sodam .sodam-intro {
    font-size: 148px;
    margin-bottom: 400px;
  }
}
main .sodam .sodam-intro.fixed {
  position: fixed;
}
main .sodam .sodam-intro h2 {
  font-size: 38px;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 60px;
}
main .sodam .sodam-intro h2 strong {
  display: inline-block;
}
main .sodam .sodam-intro p {
  line-height: 2em;
}
main .sodam .sodam-intro p:last-child {
  margin-top: 40px;
}
main .sodam .blue-nemo-wrap {
  font-size: 14px;
  line-height: 1.5em;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap {
    font-size: 18px;
  }
}
main .sodam .blue-nemo-wrap.scroll-event {
  position: absolute;
}
main .sodam .blue-nemo-wrap .sodam-blue {
  position: relative;
}
main .sodam .blue-nemo-wrap .sodam-blue .circle {
  position: absolute;
  top: 600px;
  left: 50%;
  width: 280%;
  height: 1px;
  padding-bottom: 200%;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 2px solid #000;
  transform: translate(-50%, -800px);
  z-index: -1;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-blue .circle {
    top: 500px;
  }
}
main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap {
    flex-direction: row-reverse;
  }
}
main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap .info {
  order: 2;
  margin-bottom: 40px;
}
main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap .info h3 {
  font-size: 24px;
  padding: 10px 0;
}
main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap .info h4 {
  font-size: 18px;
  padding: 10px 0;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap .info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap .info .title h3 {
    font-size: 38px;
  }
}
main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap .info .title h3 .title-blue {
  color: #0094d6;
}
main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap .info .blue-desc {
  width: 100%;
}
main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap img {
  width: 100%;
  order: 1;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-blue .info-img-wrap img {
    width: 700px;
    height: 500px;
    margin-bottom: 0;
  }
}
main .sodam .blue-nemo-wrap .sodam-nemo {
  margin-top: 140px;
}
main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap {
    flex-direction: row-reverse;
  }
}
main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap .info {
  order: 2;
  margin-bottom: 40px;
}
main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap .info h3,
main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap .info h4 {
  padding: 10px 0;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap .info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap .info .title h3 {
    font-size: 38px;
  }
}
main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap .info .title h3 .title-nemo {
  color: orangered;
}
main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap .info .blue-desc {
  width: 100%;
}
main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap img {
  width: 100%;
  order: 1;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  main .sodam .blue-nemo-wrap .sodam-nemo .info-img-wrap img {
    width: 700px;
    height: 500px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  main .sodam .img-l {
    position: relative;
    text-align: right;
    display: flex;
    justify-content: space-between;
  }
  main .sodam .img-l .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  main .sodam .img-l .left {
    justify-content: start;
  }
}
@media screen and (min-width: 1024px) {
  main .sodam .img-r {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  main .sodam .img-r .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}
main .sodam .use-guide {
  margin: 200px 0;
  text-align: center;
}
main .sodam .use-guide h4 {
  padding-bottom: 10px;
}
main .sodam .use-guide div:nth-child(2) {
  padding: 40px 0;
}
main .sodam .use-guide p {
  line-height: 2em;
}

footer {
  color: #fff;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  footer {
    height: 800px;
  }
}
footer .flex-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  footer .flex-box {
    flex-direction: row;
    height: 800px;
  }
}
footer .flex-box .left-contents {
  padding-top: 55px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents {
    padding-top: 52px;
    padding-bottom: 0;
  }
}
footer .flex-box .left-contents h2 {
  margin-left: -2px;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: normal;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents h2 {
    margin-left: -3px;
    font-size: 1.875em;
  }
}
footer .flex-box .left-contents address {
  line-height: 2;
  font-style: normal;
  font-size: 13px;
}
footer .flex-box .left-contents address span {
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .left-contents p {
  line-height: 2;
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .right-contents {
  width: 33%;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents {
    width: 28%;
  }
}
footer .flex-box .right-contents .footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents .footer-menu {
    flex-direction: row;
  }
}
footer .flex-box .right-contents .footer-menu > li {
  padding-top: 56px;
}
footer .flex-box .right-contents .footer-menu li {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 500;
}
footer .flex-box .right-contents .footer-menu li:last-child {
  width: 62px;
  font-family: "Montserrat", sans-serif, Arial;
}
footer .flex-box .right-contents .footer-menu li:last-child > .social-menu {
  margin-top: 34px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents {
  margin-top: 35px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a {
  padding-bottom: 12px;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a:hover {
  font-weight: bold;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li:last-child > a {
  padding-bottom: 0;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form {
  position: relative;
  margin-top: -3px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select {
  width: 92px;
  height: 100%;
  border: none;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select::-ms-expand {
  display: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select option {
  color: #fff;
  background-color: black;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span {
  width: 18px;
  position: absolute;
  top: 2px;
  right: -28px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span img {
  width: 100%;
  transition: all 0.3s;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select:focus + span > img {
  transform: rotate(180deg);
}
footer .flex-box .footer-title {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
}
footer .flex-box .footer-title h1 {
  font-size: calc(38px + 9.8vw);
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 500;
}
footer .line {
  position: relative;
}
footer .line span {
  position: absolute;
  bottom: 280px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
}/*# sourceMappingURL=culture_space.css.map */