@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 16px "Pretendard", "Nanum Gothic", "맑은 고딕";
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    padding: 0;
  }
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

.large-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .large-only {
    display: block;
  }
}

h2 {
  font-size: 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  height: 1500px;
  background-color: #000;
}

.go-home {
  position: absolute;
  left: 20px;
  top: 20px;
}
.go-home a {
  color: #fff;
}
.go-home a::before {
  display: inline-block;
  content: "\f060";
  font-family: "FontAwesome";
  font-weight: 300;
  margin-right: 10px;
}

.pos-wrap {
  position: relative;
  height: 1500px;
}
.pos-wrap .join-wrap {
  width: 100%;
  min-width: 350px;
  padding: 50px 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 600px) {
  .pos-wrap .join-wrap {
    margin: 0 auto;
    width: 550px;
  }
}
@media screen and (min-width: 1024px) {
  .pos-wrap .join-wrap {
    margin: 0 auto;
    width: 610px;
  }
}
.pos-wrap .join-wrap h1 {
  margin-bottom: 58px;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 600;
}
.pos-wrap .join-wrap form div {
  margin-bottom: 24px;
}
.pos-wrap .join-wrap form div:last-of-type {
  margin-bottom: 0;
}
.pos-wrap .join-wrap form label {
  display: block;
  padding-bottom: 13px;
}
.pos-wrap .join-wrap form label span {
  color: red;
}
.pos-wrap .join-wrap form input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.pos-wrap .join-wrap form input:focus {
  outline: none;
  border-color: #0094d6;
  box-shadow: 0 0 2px #0094d6;
}
.pos-wrap .join-wrap form #user-id.novalid {
  border: 1px solid red;
  box-shadow: 0 0 2px red;
}
.pos-wrap .join-wrap form #user-id.valid {
  border: 1px solid green;
  box-shadow: 0 0 2px green;
}
.pos-wrap .join-wrap form #user-pw.novalid {
  border: 1px solid red;
  box-shadow: 0 0 2px red;
}
.pos-wrap .join-wrap form #user-pw.valid {
  border: 1px solid green;
  box-shadow: 0 0 2px green;
}
.pos-wrap .join-wrap form #user-pw-check.novalid {
  border: 1px solid red;
  box-shadow: 0 0 2px red;
}
.pos-wrap .join-wrap form #user-pw-check.valid {
  border: 1px solid green;
  box-shadow: 0 0 2px green;
}
.pos-wrap .join-wrap form #user-phone.novalid {
  border: 1px solid red;
  box-shadow: 0 0 2px red;
}
.pos-wrap .join-wrap form #user-phone.valid {
  border: 1px solid green;
  box-shadow: 0 0 2px green;
}
.pos-wrap .join-wrap form .address-box input[type=button] {
  margin-top: 14px;
  color: #0094d6;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #0094d6;
  background-color: #fff;
}
.pos-wrap .join-wrap form .pw-box div {
  position: relative;
}
.pos-wrap .join-wrap form .pw-box div i {
  color: #b2b2b2;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.pos-wrap .join-wrap form .pw-box-check div {
  position: relative;
}
.pos-wrap .join-wrap form .pw-box-check div i {
  color: #b2b2b2;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.pos-wrap .join-wrap form .gender-box .radio-box {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.pos-wrap .join-wrap form .gender-box .radio-box label {
  display: inline;
  font-size: 14px;
}
.pos-wrap .join-wrap form .gender-box .radio-box input {
  position: relative;
  width: 14px;
  height: 14px;
  margin-left: 14%;
  margin-right: 5px;
  margin-bottom: -2px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (min-width: 600px) {
  .pos-wrap .join-wrap form .gender-box .radio-box input {
    margin-left: 20%;
  }
}
.pos-wrap .join-wrap form .gender-box .radio-box input:checked::after {
  display: block;
  content: "\f00c";
  font-family: "FontAwesome";
  color: #0094d6;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1px;
  top: -1px;
}
.pos-wrap .join-wrap form .gender-box .radio-box input:first-child {
  margin-left: 0;
}
.pos-wrap .join-wrap form button {
  margin-top: 40px;
  width: 100%;
  height: 55px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background-color: #000;
}
.pos-wrap .join-wrap form .join-agree {
  margin-top: 25px;
}
.pos-wrap .join-wrap form .join-agree .line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-bottom: 30px;
}
.pos-wrap .join-wrap form .join-agree ul li {
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 2;
}
.pos-wrap .join-wrap form .join-agree ul li:first-child > div {
  font-weight: 600;
  font-size: 16px;
}
.pos-wrap .join-wrap form .join-agree ul li div {
  width: 70%;
}
.pos-wrap .join-wrap form .join-agree ul li div label {
  display: inline-block;
  padding-bottom: 0px;
}
.pos-wrap .join-wrap form .join-agree ul li div input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.pos-wrap .join-wrap form .join-agree ul li a {
  width: 30%;
  text-align: right;
  color: #0094d6;
}
.pos-wrap .join-wrap form .join-agree ul li a i {
  padding-left: 5px;
}