@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Nanum+Gothic:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 16px "Pretendard", "Nanum Gothic", "맑은 고딕";
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    padding: 0;
  }
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

.large-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .large-only {
    display: block;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes scaleImg {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.caution {
  margin-bottom: 10px;
  font-size: 14px;
  color: #f21313;
}

.seat-img {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .seat-img {
    width: 70%;
  }
}
.seat-img img {
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .seat-img img {
    width: 100%;
  }
}

.number-of-seat {
  width: 100%;
  height: 200px;
  padding: 30px;
  margin-bottom: 70px;
  background-color: #eee;
}
.number-of-seat h3 {
  padding-bottom: 20px;
}
.number-of-seat p {
  line-height: 26px;
}

.blue {
  color: rgb(0, 148, 214);
  font-weight: 600;
}

.gray {
  color: gray;
  font-weight: 600;
}

header {
  position: relative;
  width: 100vw;
}
header .header-bg {
  width: 100%;
  height: 100vh;
  transform: scale(1.1);
  animation: scaleImg 2s forwards;
  overflow: hidden;
  margin-bottom: 140px;
}
@media screen and (min-width: 1024px) {
  header .header-bg {
    margin-bottom: 280px;
  }
}
header .header-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-bg .line-box {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .header-bg .line-box div.p-box {
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
header .header-bg .line-box div.p-box p {
  opacity: 0;
  animation: fadeUp 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  font-size: calc(1vw + 30px);
  font-weight: 500;
  font-family: "Montserrat", sans-serif, Arial;
}
@media screen and (min-width: 320px) {
  header .header-bg .line-box div.p-box p {
    font-size: calc(1vw + 40px);
  }
}
@media screen and (min-width: 600px) {
  header .header-bg .line-box div.p-box p {
    font-size: calc(1vw + 40px);
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .line-box div.p-box p {
    font-size: calc(1vw + 45px);
  }
}
@media screen and (min-width: 1400px) {
  header .header-bg .line-box div.p-box p {
    font-size: calc(1vw + 60px);
  }
}
header .header-bg .line-box div.p-box::before {
  position: absolute;
  top: -20px;
  left: 0px;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  animation: mover 2s;
}
@media screen and (min-width: 1024px) {
  header .header-bg .line-box div.p-box::before {
    height: 4px;
  }
}
header .header-bg .line-box div.p-box::after {
  position: absolute;
  bottom: -20px;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  animation: mover 2s;
}
@media screen and (min-width: 1024px) {
  header .header-bg .line-box div.p-box::after {
    height: 4px;
  }
}
header .logo-menu-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
header .logo-menu-box .flex-box {
  position: relative;
  display: flex;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box {
    height: 100px;
  }
}
header .logo-menu-box .flex-box .header-logo {
  width: 15%;
}
header .logo-menu-box .flex-box .header-logo a img {
  width: 48px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .header-logo a img {
    width: 132px;
  }
}
header .logo-menu-box .flex-box nav.main-menu {
  display: none;
  width: 590px;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box nav.main-menu {
    display: block;
  }
}
header .logo-menu-box .flex-box nav.main-menu .gnb {
  width: inherit;
  height: 100px;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li {
  width: 20%;
  line-height: 100px;
  text-align: center;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li::after {
  line-height: 0;
  display: block;
  content: "";
  margin: 0 auto;
  width: 60%;
  height: 2px;
  margin-top: -34px;
  background-color: #000;
  transform: scale(0);
  transition: all 0.4s;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li:first-child::after {
  width: 70%;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li:hover::after {
  transform: scale(1);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li a {
  font-size: 18px;
  color: #fff;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li .lnb {
  position: absolute;
  width: 100%;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li .lnb li {
  display: none;
  line-height: 1;
  margin-top: -1px;
  background-color: rgb(0, 148, 214);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li .lnb li::after {
  display: none;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li .lnb li a {
  font-size: 16px;
  width: 100%;
  padding: 10px 20px;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li .lnb li a:hover {
  font-weight: 600;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li:hover .lnb > li {
  display: block;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li:nth-child(3) .lnb {
  width: 130%;
  transform: translateX(-18px);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li:nth-child(4) .lnb {
  width: 130%;
  transform: translateX(-18px);
}
header .logo-menu-box .flex-box .right-menu {
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media screen and (min-width: 600px) {
  header .logo-menu-box .flex-box .right-menu {
    width: 110px;
  }
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu {
    width: 188px;
  }
}
@media screen and (min-width: 1400px) {
  header .logo-menu-box .flex-box .right-menu {
    right: 0;
  }
}
header .logo-menu-box .flex-box .right-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu ul {
    height: 100px;
  }
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu ul li {
    line-height: 100px;
  }
}
header .logo-menu-box .flex-box .right-menu ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
}
header .logo-menu-box .flex-box .right-menu ul li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scale(0);
  transition: all 0.4s;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu ul li a::after {
    margin-top: -34px;
  }
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu ul li a:hover::after {
    transform: scale(1);
  }
}
header .logo-menu-box .flex-box .right-menu ul li a img {
  width: 30px;
}
@media screen and (min-width: 600px) {
  header .logo-menu-box .flex-box .right-menu ul li a img {
    width: 40px;
  }
}
header .overlay {
  display: block;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.96);
}
@media screen and (min-width: 600px) {
  header .overlay {
    max-width: 580px;
  }
}
header .overlay .close-btn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 55px;
  font-weight: 100;
  color: #f1f1f1;
}
header .overlay .overlay-menu {
  position: relative;
  top: 22%;
  text-align: center;
}
header .overlay .overlay-menu ul li a {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  padding: 15px 0;
}
header .overlay .overlay-menu ul li a.on {
  color: rgb(0, 148, 214);
  transform: skew(-15deg);
}
header .overlay .overlay-menu ul li ul li {
  display: none;
}
header .overlay .overlay-menu ul li ul li.on {
  display: block;
}
header .overlay .overlay-menu ul li ul li a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
}
header .overlay .overlay-menu ul li ul li a:hover, header .overlay .overlay-menu ul li ul li a:focus {
  transform: skew(0);
}
header .overlay .overlay-menu ul li ul li a::after {
  position: absolute;
  left: 0;
  bottom: 10px;
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: all 0.4s;
}
header .overlay .overlay-menu ul li ul li a:hover::after {
  width: 100%;
}

main {
  margin: 266px 0;
  line-height: 1.5em;
}
main h1 {
  font-size: 26px;
}
@media screen and (min-width: 1024px) {
  main h1 {
    font-size: 38px;
  }
}
main h2 {
  font-size: 0;
}
main .tab-menu ul {
  margin-top: 58px;
  margin-bottom: 70px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
main .tab-menu ul li {
  margin-right: 60px;
}
main .tab-menu ul li:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  main .tab-menu ul li {
    margin-right: 120px;
  }
}
main .tab-menu ul li a::after {
  margin-top: 10px;
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 5px 5px 0 0;
  background-color: #000;
  transform: scale(0);
  transition: all 0.4s;
}
main .tab-menu ul li a:hover {
  font-weight: 600;
}
main .tab-menu ul li a:hover::after {
  transform: scale(1);
}
main .tab-menu ul li a.clicked::after {
  margin-top: 10px;
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 5px 5px 0 0;
  background-color: #000;
  transform: scale(1);
}
main .tab-menu ul li a.clicked {
  font-weight: 600;
}
main .sub-tab-menu ul {
  width: 220px;
  margin: 0px auto 70px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
main .sub-tab-menu ul li {
  width: 100px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
}
main .sub-tab-menu ul li a.sub-tab-clicked {
  font-weight: 600;
  border-radius: 30px;
  background-color: #cceaf7;
}
main .sub-tab-menu ul li a:hover {
  font-weight: 600;
  border-radius: 30px;
  background-color: #cceaf7;
}
main .master-hall {
  margin-top: 70px;
}
main .master-hall .sub-tab {
  display: none;
}
main .master-hall .sub-tab.show {
  display: block;
}
main .master-hall .master-standing .F_wrap > div {
  display: none;
}
main .master-hall .master-standing .F_wrap > div.img_tab_on {
  display: block;
}
main .master-hall .master-standing .F_wrap .standing-firstF .number-of-seat {
  width: 100%;
  height: 200px;
  padding: 30px;
  margin-bottom: 70px;
  background-color: #eee;
  height: 130px;
}
main .master-hall .master-standing .F_wrap .standing-firstF .number-of-seat h3 {
  padding-bottom: 20px;
}
main .master-hall .master-standing .F_wrap .standing-firstF .number-of-seat p {
  line-height: 26px;
}
main .master-hall .master-standing .F_wrap .standing-firstF .number-of-seat div {
  display: flex;
  padding-right: 20px;
}
main .master-hall .master-standing .F_wrap .standing-secondF .number-of-seat {
  width: 100%;
  height: 200px;
  padding: 30px;
  margin-bottom: 70px;
  background-color: #eee;
  height: 130px;
}
main .master-hall .master-standing .F_wrap .standing-secondF .number-of-seat h3 {
  padding-bottom: 20px;
}
main .master-hall .master-standing .F_wrap .standing-secondF .number-of-seat p {
  line-height: 26px;
}
main .master-hall .master-standing .F_wrap .standing-secondF .number-of-seat div {
  display: flex;
  padding-right: 20px;
}
main .master-hall .master-standing .F_wrap .standing-secondF .number-of-seat div:nth-child(odd) {
  padding-right: 20px;
}
main .master-hall .master-standing .F_wrap .standing-secondF .number-of-seat div:nth-child(2) {
  padding-right: 40px;
}
main .master-hall .master-standing .seat-img-tab {
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-standing .seat-img-tab {
    width: 20%;
    position: absolute;
    right: 0;
    top: 600px;
  }
}
main .master-hall .master-standing .seat-img-tab ul {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-standing .seat-img-tab ul {
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
  }
}
main .master-hall .master-standing .seat-img-tab ul li {
  width: 30%;
  text-align: center;
  color: #ccc;
}
main .master-hall .master-standing .seat-img-tab ul li.black_txt {
  color: black;
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-standing .seat-img-tab ul li {
    width: 100%;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-standing .seat-img-tab ul li:last-child {
    padding-bottom: 0;
  }
}
main .master-hall .master-standing .seat-img-tab ul li img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.1s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: 0.1s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: 0.1s ease-in-out;
}
main .master-hall .master-standing .seat-img-tab ul li img.color {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.1s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 0.1s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 0.1s ease-in-out;
}
main .master-hall .master-ground .F_wrap2 > div {
  display: none;
}
main .master-hall .master-ground .F_wrap2 > div.img_tab_on2 {
  display: block;
}
main .master-hall .master-ground .F_wrap2 .ground-firstF .number-of-seat {
  width: 100%;
  height: 200px;
  padding: 30px;
  margin-bottom: 70px;
  background-color: #eee;
  height: 130px;
}
main .master-hall .master-ground .F_wrap2 .ground-firstF .number-of-seat h3 {
  padding-bottom: 20px;
}
main .master-hall .master-ground .F_wrap2 .ground-firstF .number-of-seat p {
  line-height: 26px;
}
main .master-hall .master-ground .F_wrap2 .ground-firstF .number-of-seat div {
  display: flex;
  padding-right: 20px;
}
main .master-hall .master-ground .F_wrap2 .ground-secondF .number-of-seat {
  width: 100%;
  height: 200px;
  padding: 30px;
  margin-bottom: 70px;
  background-color: #eee;
  height: 130px;
}
main .master-hall .master-ground .F_wrap2 .ground-secondF .number-of-seat h3 {
  padding-bottom: 20px;
}
main .master-hall .master-ground .F_wrap2 .ground-secondF .number-of-seat p {
  line-height: 26px;
}
main .master-hall .master-ground .F_wrap2 .ground-secondF .number-of-seat div {
  display: flex;
  padding-right: 20px;
}
main .master-hall .master-ground .F_wrap2 .ground-secondF .number-of-seat div:nth-child(odd) {
  padding-right: 20px;
}
main .master-hall .master-ground .F_wrap2 .ground-secondF .number-of-seat div:nth-child(2) {
  padding-right: 40px;
}
main .master-hall .master-ground .seat-img-tab2 {
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-ground .seat-img-tab2 {
    width: 20%;
    position: absolute;
    right: 0;
    top: 680px;
  }
}
main .master-hall .master-ground .seat-img-tab2 ul {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-ground .seat-img-tab2 ul {
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
  }
}
main .master-hall .master-ground .seat-img-tab2 ul li {
  width: 30%;
  text-align: center;
  color: #ccc;
}
main .master-hall .master-ground .seat-img-tab2 ul li.black_txt2 {
  color: black;
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-ground .seat-img-tab2 ul li {
    width: 100%;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  main .master-hall .master-ground .seat-img-tab2 ul li:last-child {
    padding-bottom: 0;
  }
}
main .master-hall .master-ground .seat-img-tab2 ul li img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.1s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: 0.1s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: 0.1s ease-in-out;
}
main .master-hall .master-ground .seat-img-tab2 ul li img.color2 {
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.1s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: 0.1s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: 0.1s ease-in-out;
}

footer {
  color: #fff;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  footer {
    height: 800px;
  }
}
footer .flex-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  footer .flex-box {
    flex-direction: row;
    height: 800px;
  }
}
footer .flex-box .left-contents {
  padding-top: 55px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents {
    padding-top: 52px;
    padding-bottom: 0;
  }
}
footer .flex-box .left-contents h2 {
  margin-left: -2px;
  letter-spacing: -0.0769230769em;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: normal;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents h2 {
    margin-left: -3px;
    font-size: 1.875em;
  }
}
footer .flex-box .left-contents address {
  line-height: 2;
  font-style: normal;
  font-size: 13px;
}
footer .flex-box .left-contents address span {
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .left-contents p {
  line-height: 2;
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .right-contents {
  width: 33%;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents {
    width: 28%;
  }
}
footer .flex-box .right-contents .footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents .footer-menu {
    flex-direction: row;
  }
}
footer .flex-box .right-contents .footer-menu > li {
  padding-top: 56px;
}
footer .flex-box .right-contents .footer-menu li {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 500;
}
footer .flex-box .right-contents .footer-menu li:last-child {
  width: 62px;
  font-family: "Montserrat", sans-serif, Arial;
}
footer .flex-box .right-contents .footer-menu li:last-child > .social-menu {
  margin-top: 34px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents {
  margin-top: 35px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a {
  padding-bottom: 12px;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a:hover {
  font-weight: bold;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li:last-child > a {
  padding-bottom: 0;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form {
  position: relative;
  margin-top: -3px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select {
  width: 92px;
  height: 100%;
  border: none;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select::-ms-expand {
  display: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select option {
  color: #fff;
  background-color: black;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span {
  width: 18px;
  position: absolute;
  top: 2px;
  right: -28px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span img {
  width: 100%;
  transition: all 0.3s;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select:focus + span > img {
  transform: rotate(180deg);
}
footer .flex-box .footer-title {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
}
footer .flex-box .footer-title h1 {
  font-size: calc(38px + 11.2vw);
  font-family: "Lora";
  font-weight: 500;
}
footer .line {
  position: relative;
}
footer .line span {
  position: absolute;
  bottom: 275px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
}/*# sourceMappingURL=seating_charts_master.css.map */