@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 16px "Pretendard", "Nanum Gothic", "맑은 고딕";
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    padding: 0;
  }
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

.large-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .large-only {
    display: block;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100vw;
}
header .header-bg {
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  header .header-bg {
    height: 100vh;
  }
}
header .header-bg .fnb-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box {
    white-space: nowrap;
    width: 100%;
    height: 100vh;
  }
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a > div {
    transform: skewX(0deg);
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a > div {
    transform: skewX(-10deg);
  }
}
header .header-bg .fnb-box a.menu1 {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu1 {
    width: 25%;
  }
}
header .header-bg .fnb-box a.menu1 .solos {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu1 .solos {
    margin-left: -90px;
    width: 120%;
  }
}
header .header-bg .fnb-box a.menu1 .solos img {
  width: 100%;
  height: 100vh;
  display: block;
}
header .header-bg .fnb-box a.menu1 .solos .white-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 158px;
  background-color: white;
  opacity: 0.35;
}
header .header-bg .fnb-box a.menu1 .solos .white-bar h2 {
  font-size: 0;
}
header .header-bg .fnb-box a.menu1 .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .header-bg .fnb-box a.menu1 .txt .dancing_sc50 {
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 38px;
}
header .header-bg .fnb-box a.menu1 .txt .title30 {
  font-family: "Montserrat", sans-serif, Arial;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu1 .txt {
    margin-left: -5PX;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu1 .txt {
    margin-left: -40PX;
  }
}
header .header-bg .fnb-box a.menu1:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu1:hover {
    scale: none;
    width: 130%;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu1:hover {
    scale: none;
    width: 30%;
  }
}
header .header-bg .fnb-box a.menu2 {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu2 {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu2 .stageb {
    margin-left: -50px;
    width: 120%;
  }
}
header .header-bg .fnb-box a.menu2 .stageb img {
  width: 100%;
  height: 100vh;
  display: block;
}
header .header-bg .fnb-box a.menu2 .stageb .white-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 158px;
  background-color: white;
  opacity: 0.35;
}
header .header-bg .fnb-box a.menu2 .stageb .white-bar h2 {
  font-size: 0;
}
header .header-bg .fnb-box a.menu2 .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .header-bg .fnb-box a.menu2 .txt .dancing_sc50 {
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 38px;
}
header .header-bg .fnb-box a.menu2 .txt .title30 {
  font-family: "Montserrat", sans-serif, Arial;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu2 .txt {
    margin-left: -5PX;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu2 .txt {
    margin-left: -30PX;
  }
}
header .header-bg .fnb-box a.menu2:hover {
  scale: 1.05;
  transition: all 0.5s;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu2:hover {
    scale: none;
    width: 130%;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu2:hover {
    scale: none;
    width: 30%;
  }
}
header .header-bg .fnb-box a.menu3 {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu3 {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu3 .philos {
    margin-left: -5px;
    width: 120%;
  }
}
header .header-bg .fnb-box a.menu3 .philos img {
  width: 100%;
  height: 100vh;
  display: block;
}
header .header-bg .fnb-box a.menu3 .philos .white-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 158px;
  background-color: white;
  opacity: 0.35;
}
header .header-bg .fnb-box a.menu3 .philos .white-bar h2 {
  font-size: 0;
}
header .header-bg .fnb-box a.menu3 .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .header-bg .fnb-box a.menu3 .txt .dancing_sc50 {
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 38px;
}
header .header-bg .fnb-box a.menu3 .txt .title30 {
  font-family: "Montserrat", sans-serif, Arial;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu3 .txt {
    margin-left: -5PX;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu3 .txt {
    margin-left: 0PX;
  }
}
header .header-bg .fnb-box a.menu3:hover {
  scale: 1.05;
  transition: all 0.5s;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu3:hover {
    scale: none;
    width: 130%;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu3:hover {
    scale: none;
    width: 30%;
  }
}
header .header-bg .fnb-box a.menu4 {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu4 {
    width: 25%;
  }
}
header .header-bg .fnb-box a.menu4 .cake {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu4 .cake {
    margin-left: 30px;
    width: 120%;
  }
}
header .header-bg .fnb-box a.menu4 .cake img {
  width: 100%;
  height: 100vh;
  display: block;
}
header .header-bg .fnb-box a.menu4 .cake .white-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 158px;
  background-color: white;
  opacity: 0.35;
}
header .header-bg .fnb-box a.menu4 .cake .white-bar h2 {
  font-size: 0;
}
header .header-bg .fnb-box a.menu4 .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .header-bg .fnb-box a.menu4 .txt .dancing_sc50 {
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 38px;
}
header .header-bg .fnb-box a.menu4 .txt .title30 {
  font-family: "Montserrat", sans-serif, Arial;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu4 .txt {
    margin-left: -5PX;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu4 .txt {
    margin-left: 0PX;
  }
}
header .header-bg .fnb-box a.menu4:hover {
  scale: 1.05;
  transition: all 0.5s;
}
@media screen and (min-width: 600px) {
  header .header-bg .fnb-box a.menu4:hover {
    scale: none;
    width: 130%;
  }
}
@media screen and (min-width: 1024px) {
  header .header-bg .fnb-box a.menu4:hover {
    scale: none;
    width: 30%;
  }
}

.logo-menu-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.logo-menu-box .flex-box {
  position: relative;
  display: flex;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .logo-menu-box .flex-box {
    height: 100px;
  }
}
.logo-menu-box .flex-box .header-logo {
  width: 15%;
}
.logo-menu-box .flex-box .header-logo a img {
  width: 48px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  .logo-menu-box .flex-box .header-logo a img {
    width: 132px;
  }
}
.logo-menu-box .flex-box nav.main-menu {
  display: none;
  width: 504px;
}
@media screen and (min-width: 1024px) {
  .logo-menu-box .flex-box nav.main-menu {
    display: block;
  }
}
.logo-menu-box .flex-box nav.main-menu .gnb {
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.logo-menu-box .flex-box nav.main-menu .gnb li a {
  font-size: 18px;
  color: #fff;
}
.logo-menu-box .flex-box nav.main-menu .gnb li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.4s;
}
.logo-menu-box .flex-box nav.main-menu .gnb li a:hover::after {
  transform: scale(1);
}
.logo-menu-box .flex-box nav.main-menu .gnb li .lnb {
  display: none;
}
.logo-menu-box .flex-box .right-menu {
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media screen and (min-width: 600px) {
  .logo-menu-box .flex-box .right-menu {
    width: 110px;
  }
}
@media screen and (min-width: 1024px) {
  .logo-menu-box .flex-box .right-menu {
    width: 188px;
  }
}
@media screen and (min-width: 1400px) {
  .logo-menu-box .flex-box .right-menu {
    right: 0;
  }
}
.logo-menu-box .flex-box .right-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo-menu-box .flex-box .right-menu ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
}
.logo-menu-box .flex-box .right-menu ul li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.4s;
}
@media screen and (min-width: 1024px) {
  .logo-menu-box .flex-box .right-menu ul li a:hover::after {
    transform: scale(1);
  }
}
.logo-menu-box .flex-box .right-menu ul li a img {
  width: 30px;
}
@media screen and (min-width: 600px) {
  .logo-menu-box .flex-box .right-menu ul li a img {
    width: 40px;
  }
}

footer {
  color: #fff;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  footer {
    height: 800px;
  }
}
footer .flex-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  footer .flex-box {
    flex-direction: row;
    height: 800px;
  }
}
footer .flex-box .left-contents {
  padding-top: 55px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents {
    padding-top: 52px;
    padding-bottom: 0;
  }
}
footer .flex-box .left-contents h2 {
  margin-left: -2px;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: normal;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents h2 {
    margin-left: -3px;
    font-size: 1.875em;
  }
}
footer .flex-box .left-contents address {
  line-height: 2;
  font-style: normal;
  font-size: 13px;
}
footer .flex-box .left-contents address span {
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .left-contents p {
  line-height: 2;
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .right-contents {
  width: 33%;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents {
    width: 28%;
  }
}
footer .flex-box .right-contents .footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents .footer-menu {
    flex-direction: row;
  }
}
footer .flex-box .right-contents .footer-menu > li {
  padding-top: 56px;
}
footer .flex-box .right-contents .footer-menu li {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 500;
}
footer .flex-box .right-contents .footer-menu li:last-child {
  width: 62px;
  font-family: "Montserrat", sans-serif, Arial;
}
footer .flex-box .right-contents .footer-menu li:last-child > .social-menu {
  margin-top: 34px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents {
  margin-top: 35px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a {
  padding-bottom: 12px;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a:hover {
  font-weight: bold;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li:last-child > a {
  padding-bottom: 0;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form {
  position: relative;
  margin-top: -3px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select {
  width: 92px;
  height: 100%;
  border: none;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select::-ms-expand {
  display: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select option {
  color: #fff;
  background-color: black;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span {
  width: 18px;
  position: absolute;
  top: 2px;
  right: -28px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span img {
  width: 100%;
  transition: all 0.3s;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select:focus + span > img {
  transform: rotate(180deg);
}
footer .flex-box .footer-title {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
}
footer .flex-box .footer-title h1 {
  font-size: calc(38px + 9.8vw);
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 500;
}
footer .line {
  position: relative;
}
footer .line span {
  position: absolute;
  bottom: 280px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
}