@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {    
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {    
        display: none;

        @include responsive(large-tablet-screens) {
            display: block;
        }
}

h2 {
    font-size: 0;
}

table, 
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;
    height: 250px;

    .logo-menu-box {
        position: absolute;
        top: 0; left: 0; right: 0;
        
        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {     
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {     
                            width: 132px;
                        }
                    }
                }
            } // header-logo

            nav.main-menu {
                display: none;
                width: 504px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        a {
                            font-size: $sub-title-font-size;
                            color: #000;

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #000;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            &:hover::after {
                                transform: scale(1);
                            }
                        }

                        .lnb {
                            display: none;
                        }
                    }
                } // gnb
            } // nav.main-menu

            .right-menu {
                width: 80px;
                @include pos-center-y() {
                    right: 0;
                }
                
                @include responsive(small-tablet-screens) {
                    width: 110px;
                }
                
                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();
                    
                    li {
                        a {
                            color: #000;
                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after { 
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #000;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        } // a
                    } // li
                } // ul
            } // right-menu
        } // flex-box
    } // logo-menu-box    
} // header


// * ===================== main ===================== *

main {
    position: relative;
    width: 100vw;
    margin-bottom: 266px;

    h1 {
        margin-bottom: 58px;
    }

    .tab-menu {
        margin-left: 20px;
        white-space: nowrap;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 100vw;
            height: 1px;
            background-color: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        @include flex-box() {
            justify-content: left;
        }
        
        @include responsive(desktop-screens) {
            width: 1400px;
            margin: 0 auto;
        }
        
        li {
            padding-right: 50px;
            z-index: 1;
            
            
            a {
                font-size: calc($tab-font-size + 6px);
                
                &::after {
                    margin-top: 10px;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 8px;
                    border-radius: 5px 5px 0 0;
                    background-color: #000;
                    transform: scale(0);
                    transition: all 0.4s;
                }
                
                // &:hover::after {
                //     transform: scale(1);
                // }

                &.underline::after {
                    transform: scale(1);
                }
            }
        } // li
    } // ul.tab-menu

    section {
        display: none;
        margin-top: -3px;
        border-top: 2px solid $gray-border;
        
        &.show {
            display: block;
        }

        .accord-wrap {
            // background-color: red;
            position: relative; 

            &:first-child {
                border-top: 2px solid $gray-border;
            }
            
            .btn-open {
                position: relative;                    
                border-bottom: 1px solid $gray-border;  
                
                a {
                    margin-left: 20px;
                    margin-right: 40px;
                    padding: 25px 0;
                    padding-left: 20px;
                    text-indent: -20px;
                    line-height: 1.5;
                    font-size: 16px;
                    
                    @include responsive(large-tablet-screens) {
                        font-size: 18px;
                    }
                    
                    &::before {
                        display: inline-block;
                        content: 'Q';
                        padding: 0 10px;
                        font: {
                            size: $text-font-size;
                            family: $kor-font;
                        }
                        color: $point-color;    
                        
                        @include responsive(large-tablet-screens) {
                            font-size: 18px;
                        }
                    }
                }

                &.on > a {
                    font-weight: 600;
                }

                .arrow-wrap {
                    cursor: pointer;
                    @include pos-center-y() {
                        right: 10px;
                    }

                    
                    i {
                        transition: all 0.4s;
                    }
                }
                
                &.on div i {
                    transform: rotate(180deg);
                }
                


            } // .btn-open

            .last-border {
                border-bottom: 1px solid $gray-border;                    
            } // .last-border

            .accord-content {
                overflow: hidden;
                display: none;
                padding: 25px 40px;
                width: 100%;
                background-color: $gray-bg;
                
                p {
                    line-height: 1.5;
                    font-size: 16px;

                    @include responsive(large-tablet-screens) {
                        font-size: 18px;
                    }
                    
                    .go-to {
                        display: inline-block;
                        font-weight: 600;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .link {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: $mini-text-font-size;
                        color: #fff;
                        padding: 2px 5px;
                        background-color: $point-color;

                        i {
                            padding-left: 5px;
                        }
                    } 
                    
                } // p           

                .parking-table {
                    tr {
                        th,
                        td {
                            padding: 5px;
                            line-height: 1.5;
                            font-size: $mini-text-font-size;

                            @include responsive(small-tablet-screens) {
                                font-size: 14px;
                            }

                            @include responsive(large-tablet-screens) {
                                font-size: $text-font-size;
                            }
                        }

                        td {
                            span {
                                font-family: $eng-font;
                                letter-spacing: -0.0769230769em;
                            }
                        }
                    }
                }
            } //.accord-content 

        } // .accord-wrap
    } // section.tab-menu1

} // main


// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;
    
    @include responsive(large-tablet-screens) {
        height: 800px;
    }
    
    .flex-box {
        position: relative;
        @include flex-box() {
            flex-direction: column-reverse;
        }
        
        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }
        
        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;
                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;
                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }
                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;
                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }
                letter-spacing: -0.0769230769em;
            }

        } // left-contents

        .right-contents {
            width: 33%;
            
            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;
                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                & > li {
                    padding-top: 56px;
                }
                
                li {                                 
                    color: #fff;
                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }
                    
                    &:last-child > .social-menu {
                        margin-top: 34px;
                    }
                    
                    .menu-contents {
                        margin-top: 35px;

                        li {     
                            a {
                                padding-bottom: 12px;
                                color: #fff;
                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }

                                
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                            
                            &:last-child > a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;
                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }
                                    background-color: transparent;
                                    -webkit-appearance: none;
                                       -moz-appearance: none;
                                            appearance: none;
                                    &::-ms-expand {
                                        display: none;
                                    }                                    
                                
                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }
                                    
                                } // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px; right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus + span > img {
                                    transform: rotate(180deg);
                                }
                            } // form
                        } // li                                            
                    } // ul.menu-contents                    
                } // li
            } // footer-menu
        } // right-contents
        
        .footer-title {
            position: absolute;
            top: 65%; right: 0; left: 0;
            transform: translate(0, -50%);
            text-align: center;
            
            h1 {
                font: {
                    size: calc(38px + 9.8vw);
                    family: $eng-font;
                    weight: 500;
                }
            }
        } // footer-title

    } // flex-box

    .line {
        position: relative;
        span {
            position: absolute;
            bottom: 280px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }        
    } // div.line
} // footer