@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {
    display: none;

    @include responsive(large-tablet-screens) {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}


@keyframes updown {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    50% {
        opacity: 0;
        transform: translate(-50%, -10%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;

    .header-bg {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        // video {
        //     width: 100%; 
        //     height: 100%;
        //     object-fit: cover;
        // }
    }

    // header-bg

    //==========fnbserve header!!============//
    .fnbserve-header {
        position: relative;
        width: 100%;
        height: 100vh;

        @include responsive(small-tablet-screens) {
            width: 100%;
            height: 936;
            background-image: url(../img/필로스이미지레이어.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .hd-img {

            img.mb {
                width: 100%;
                height: 100vh;

                @include responsive(small-tablet-screens) {
                    display: none;
                }
            }
        }

        .hd-txt {
            width: 100%;
            @include pos-center();

            p {
                text-align: center;
                color: white;
                animation: fadeIn 2s forwards;

                font: {
                    size: 45px;
                    family: $eng-font;
                }

                @include responsive(large-tablet-screens) {
                    font-size: 90px;
                }
            }
        }

        .dw-icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 40px;

            @include responsive(large-tablet-screens) {
                bottom: 60px;
            }

            a {
                position: relative;
                border: 1px solid #fff;
                border-radius: 50%;
                // background-color: red;
                width: 54px;
                height: 54px;
                // width: 65px;
                // height: 65px;
                
                i {
                    @include pos-center();
                    animation: updown 3s infinite;
                    color: white;
                }

                @include responsive(large-tablet-screens) {
                    width: 65px;
                    height: 65px;
                }
            }
        }
    }//fnbserve-header


    .logo-menu-box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {
                            width: 132px;
                        }
                    }
                }
            }

            // header-logo

            nav.main-menu {
                display: none;
                width: 504px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        a {
                            font-size: $sub-title-font-size;
                            color: #fff;

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            &:hover::after {
                                transform: scale(1);
                            }
                        }

                        .lnb {
                            display: none;
                        }
                    }
                }

                // gnb
            }

            // nav.main-menu

            .right-menu {
                width: 80px;

                @include pos-center-y() {
                    right: 0;
                }

                @include responsive(small-tablet-screens) {
                    width: 110px;
                }

                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();

                    li {
                        a {
                            color: #fff;

                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        }

                        // a
                    }

                    // li
                }

                // ul
            }

            // right-menu
        }

        // flex-box
    }

    // logo-menu-box    
}

// header


// * ===================== main ===================== *

main {
    position: relative;
    // background-color: aliceblue;
    margin: 266px 0;
    
        h2 {
            font-size: 0;
        }

        ul.fnb-menu {
            width: 60%;
            // background-color: red;
            @include flex-box() {
                justify-content: center;
                flex-wrap: wrap
            }
            @include pos-center-x();
            
            @include responsive(large-tablet-screens) {
                width: 50%;
            }
            
            li { 
                flex: 50%;
                width: 30%;             
                border: 1px solid #000;
                border-right: 0;
                border-bottom: 0;

                &:nth-child(2) {
                    border-right: 1px solid #000; 

                    @include responsive(large-tablet-screens) {
                        border: 0;
                    }
                }
                &:last-child {
                    border-right: 1px solid #000; 
                    border-bottom: 1px solid #000;
                    
                    @include responsive(large-tablet-screens) {
                        border: 0;
                    }

                }

                &:nth-child(3) {
                    border-bottom: 1px solid #000; 

                    @include responsive(large-tablet-screens) {
                        border: 0;
                    }

                }


                @include responsive(large-tablet-screens) {
                    flex: 25%;
                    border: 0;
                }

                a {
                    padding: 10px;
                    text-align: center;
                    // background-color: red;

                    &:hover {
                        font-weight: 600;
                    }
                    
                    @include responsive(large-tablet-screens) {
                        padding: 0;
                        font-size: 18px;

                        &::after {
                            display: block;
                            content: "";
                            width: 100%;
                            height: 5px;
                            margin-top: 5px;
                            background-color: #000;
                            transform: scale(0);
                            transition: all 0.5s;
                        }
        
                        &:hover::after {
                            transform: scale(0.6);
                        }
                    }
                }
            }
        } //ul.fnb-menu

        .fnb-info1 {
            @include flex-box();
            flex-direction: column;
            // background-color: aqua;
            margin-top:151px;

            @include responsive(large-tablet-screens) {
                margin-top:101px;
                flex-direction: row;
            }
            .info-img { 
                
                img {
                    width: 100%;
                    

                    @include responsive(large-tablet-screens) {
                        min-width: 620px;
                        height: 609px;
                    }
                }
            }

            .info-txt {
                padding-top: 55px;
                padding-left: 0;
                @include responsive(large-tablet-screens) {
                    
                    width: 474px;
                    height: 609px;
                    padding-top: 156px;
                    padding-left: 20px;
                    border-top: 1px solid $point-color;
                    border-bottom: 1px solid $point-color;
                }
                

                @include responsive(desktop-screens) {
                    padding-left: 0;
                }
                

                p.txt-1 {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 30px;
                    padding-bottom: 40px;
                }
                p.txt-2 {
                    font-size: 16px;
                    line-height: 1.5;
                    padding-bottom: 40px;
                }
                p.txt-3 {
                    font-size: 16px;
                    .txt-bd {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 50px;
                    }
                }
            }
        } //fnb-info1

        .fnb-info2 {
            @include flex-box();
            flex-direction:column-reverse;
            margin-top: 134px;

            @include responsive(large-tablet-screens) {
                flex-direction: row;
            }
            .info-img {
                
                img {
                    width: 100%;
                    
                    @include responsive(large-tablet-screens) {
                        min-width: 620px;
                        height: 609px;
                    }
                }
            }

            .info-txt {
                @include responsive(large-tablet-screens) {
                    width: 474px;
                    height: 609px;
                    padding-top: 156px;
                    padding-left: 20px;
                    border-top: 1px solid #0094d6;
                    border-bottom: 1px solid #0094d6;
                }
                padding-top: 51px;
                padding-left: 0px;

                @include responsive(desktop-screens) {
                    padding-left: 0;
                }

                p.txt-1 {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 30px;
                    padding-bottom: 40px;
                }
                p.txt-3 {
                    font-size: 16px;
                    .txt-bd {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 50px;
                    }
                }
            }
        } //fnb-info2

        .fnb-info3 {
            @include flex-box();
            flex-direction:column;
            // background-color: aqua;
            margin-top: 134px;

            @include responsive(large-tablet-screens) {
                flex-direction: row;
            }
            .info-img {
                
                img {
                    width: 100%;
                    
                    @include responsive(large-tablet-screens) {
                        min-width: 620px;
                        height: 609px;
                    }
                }
            }

            .info-txt {
                
                @include responsive(large-tablet-screens) {
                    
                    width: 474px;
                    height: 609px;
                    padding-top: 156px;
                    padding-left: 20px;
                    border-top: 1px solid #0094d6;
                    border-bottom: 1px solid #0094d6;
                }
                padding-top: 51px;
                padding-left: 0px;

                @include responsive(desktop-screens) {
                    padding-left: 0;
                }

                p.txt-1 {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 30px;
                    padding-bottom: 40px;
                }
                p.txt-2 {
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        } //fnb-info3
} //main


// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;
    margin-top: 266px;

    @include responsive(large-tablet-screens) {
        height: 800px;
    }

    .flex-box {
        position: relative;

        @include flex-box() {
            flex-direction: column-reverse;
        }

        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }

        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;

                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;

                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }

                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;

                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }

                letter-spacing: -0.0769230769em;
            }

        }

        // left-contents

        .right-contents {
            width: 33%;

            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;

                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                &>li {
                    padding-top: 56px;
                }

                li {
                    color: #fff;

                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }

                    &:last-child>.social-menu {
                        margin-top: 34px;
                    }

                    .menu-contents {
                        margin-top: 35px;

                        li {
                            a {
                                padding-bottom: 12px;
                                color: #fff;

                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }


                                &:hover {
                                    font-weight: bold;
                                }
                            }

                            &:last-child>a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;

                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }

                                    background-color: transparent;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;

                                    &::-ms-expand {
                                        display: none;
                                    }

                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }

                                }

                                // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px;
                                    right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus+span>img {
                                    transform: rotate(180deg);
                                }
                            }

                            // form
                        }

                        // li                                            
                    }

                    // ul.menu-contents                    
                }

                // li
            }

            // footer-menu
        }

        // right-contents

        .footer-title {
            position: absolute;
            top: 65%;
            right: 0;
            left: 0;
            transform: translate(0, -50%);
            text-align: center;

            h1 {
                font: {
                    size: calc(38px + 9.8vw);
                    family: $eng-font;
                    weight: 500;
                }
            }
        }

        // footer-title

    }

    // flex-box

    .line {
        position: relative;

        span {
            position: absolute;
            bottom: 280px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
    }

    // div.line
}

// footer