@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;

  @include responsive(desktop-screens) {
    width: 1400px;
    padding: 0;
  }
}

.mobile-only {
  display: block;

  @include responsive(large-tablet-screens) {
    display: none;
  }
}

.large-only {
  display: none;

  @include responsive(large-tablet-screens) {
    display: block;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes rotateImg {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes moveright {
  from {transform: translate(-50%, 0); opacity: 0;}
  to {transform: translate(0, 0); opacity: 1;}
}

@keyframes moveleft {
  from {transform: translate(50%, 0); opacity: 0;}
  to {transform: translate(0, 0); opacity: 1;}
}

// * ===================== header ===================== *

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  
  .header-bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    picture {
      margin-top: 50px;
      @include pos-center-y();
    }

    .txt-wrap {
      position: relative;
      height: 100%;
      margin: 0 auto;
      font-size: 60px;
      
      @include responsive(large-tablet-screens) {
        font-size: 70px;
      }

      @include responsive(desktop-screens) {
        width: 1400px;
      }
      
      .txt1 {
        position: absolute;
        top: 100px;
      }

      .txt2 {
        position: absolute;
        bottom: 0; right: 0;
      }

      .img-pos {
        width: 100%; 
        height: 100%;

        img {
          position: absolute;
          right: 0; top: 100px;
          width: 30%;
          min-width: 180px; max-width: 250px;
          animation: rotateImg 6s linear infinite;

          @include responsive(large-tablet-screens) {
            top: 115px;
          }
        }
      }
    }
  } // header-bg

  .logo-menu-box {
    position: absolute;
    top: 0; left: 0; right: 0;

    @include responsive(large-tablet-screens) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.7);
        background-color: #f1f1f1;
      }
    }
    
    .flex-box {
      position: relative;
      display: flex;
      height: 80px;

      @include responsive(large-tablet-screens) {     
        height: 100px;
      }

      .header-logo {
        width: 15%;

        a {
          img {
            width: 48px;
            display: block;
            @include pos-center-y();

            @include responsive(large-tablet-screens) {     
              width: 132px;
            }
          }
        }
      } // header-logo

      nav.main-menu {
        display: none;
        width: 590px;

        @include responsive(large-tablet-screens) {
          display: block;
        }

        .gnb {
          width: inherit;
          height: 100px;
          display: flex;
          justify-content: space-between;
          @include pos-center-y();

          li {
            width: 20%;
            line-height: 100px;
            text-align: center;

            &::after {
              line-height: 0;
              display: block;
              content: "";
              width: 60%;
              height: 2px;
              margin: 0 auto;
              margin-top: -34px;
              background-color: #000;
              transform: scale(0);
              transition: all 0.4s;
            }

            &:hover::after {
              transform: scale(1);
            }

            &:first-child::after {
              width: 70%;
            }

            a {
              font-size: $sub-title-font-size;
              color: #000;
              font-weight: 600;
            }

            .lnb {
              position: absolute;
              //top: 101px;
              width: 100%;
              
              li {
                display: none;
                line-height: 1;
                margin-top: -1px;
                background-color: rgba(0, 148, 214, 1);
                
                &::after {
                  display: none;
                }
                
                a {
                  color: #fff;
                  font-size: 16px;
                  width: 100%;
                  padding: 10px 20px;
                  font-weight: 400;

                  &:hover {
                    font-weight: 600;
                  }
                }
              }
            }

            &:hover .lnb > li {
              display: block;
            }

            &:nth-child(3) .lnb {
              @include lnb-pos-center();
            }

            &:nth-child(4) .lnb {
              @include lnb-pos-center();
            }
          } // li
        } // gnb
      } // nav.main-menu

      .right-menu {
        width: 80px;
        @include pos-center-y() {
          right: 0;
        }
        
        @include responsive(small-tablet-screens) {
          width: 110px;
        }
        
        @include responsive(large-tablet-screens) {
          width: 188px;
        }

        @include responsive(desktop-screens) {
          right: 0;
        }

        ul {
          width: 100%;
          @include flex-box();
          
          li {
            a {
              color: #000;
              font: {
                family: $eng-font;
                weight: 600;
              }

              &::after { 
                display: block;
                content: "";
                width: 100%;
                height: 2px;
                margin-top: 5px;
                background-color: #000;
                transform: scale(0);
                transition: all 0.4s;
              }

              @include responsive(large-tablet-screens) {
                &:hover::after {
                  transform: scale(1);
                }
              }

              img {
                width: 30px;

                @include responsive(small-tablet-screens) {
                  width: 40px;
                }
              }
            } // a
          } // li
        } // ul
      } // right-menu
    } // flex-box
  } // logo-menu-box    

.overlay {
    display: block;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0; right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.96);

    @include responsive(small-tablet-screens) {
      max-width: 580px;
    }

    .close-btn {
      position: absolute;
      top: 0px; right: 20px;
      font: {
        size: 55px;
        weight: 100;
        
      }
      color: #f1f1f1;
    }

    .overlay-menu {
      position: relative;
      top: 22%;
      text-align: center;
      // margin-top: 20px;

      ul {

        li {
          a {
            font: {
              size: 26px;
              weight: 400;
            }
            color: #fff;
            padding: 15px 0;

            &.on {
              color: $point-color;
              transform: skew(-15deg);
            }
          }

          ul {
            li {
              display: none;

              &.on {
                display: block;
              }
              
              a {
                position: relative;
                display: inline-block;
                font: {
                  size: 18px;
                  weight: 300;
                }

                &:hover,
                &:focus {
                  transform: skew(0);
                }
                
                &::after {
                  position: absolute;
                  left: 0; bottom: 10px;
                  content: "";
                  width: 0;
                  height: 1px;
                  background-color: #fff;
                  transition: all 0.4s;
                }

                &:hover::after {
                  width: 100%;
                }
              }
            } // li
          } // ul(depth-2)
        } // li
      } // ul(depth-1)
    } // overlay-menu
  } // overlay
} // header


// * ===================== main ===================== *

main {
  margin-top: 196px;
  margin-bottom: 266px;
  line-height: 1.5em;

  h1 {
    font-size: 26px;

    @include responsive(large-tablet-screens) {
      font-size: $title-font-size;
    }
  }

  ul.tab {
    margin-top: 58px;
    margin-bottom: 50px;
    margin-left: 20px;
    border-bottom: 1px solid $gray-border;
    font-size: $tab-font-size;

    @include responsive(large-tablet-screens) {
      width: 1400px;
      margin: 58px auto 50px;
    }

    overflow: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    @include flex-box() {
      justify-content: flex-start;
    }

    li {
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }

      @include responsive(large-tablet-screens) {
        margin-right: 120px;
      }

      a {
        &::after {
          margin-top: 10px;
          display: block;
          content: "";
          width: 100%;
          height: 8px;
          border-radius: 5px 5px 0 0;
          background-color: #000;
          transform: scale(0);
          transition: all 0.4s;
        }

        &:hover {
          font-weight: 600;
        }

        &:hover::after {
          transform: scale(1);
        }

        &.clicked::after {
          margin-top: 10px;
          display: block;
          content: "";
          width: 100%;
          height: 8px;
          border-radius: 5px 5px 0 0;
          background-color: #000;
          transform: scale(1);
        }

        &.clicked {
          font-weight: 600;
        }
      }
    }//li    
  }//ul.tab

  .sub-tab {
    width: 220px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 70px;
    font-size: $sub-tab-font-size;

    @include flex-box();

    li {
      width: 100px;
      text-align: center;
      line-height: 30px;
      border-radius: 30px;
      
      a {
        &.sub-tab-clicked {
          font-weight: 600;
          border-radius: 30px;
          background-color: #cceaf7;
        }
        
        &:hover {
          font-weight: 600;
          border-radius: 30px;
          background-color: #cceaf7;
        }
      }
    } //li
  } //sub-tab

  section {
    &>div {
      display: none;

      &.active {
        display: block;
      }
    } //&>div
  } //section

  .venue-guidance {
    &>h2 {
      display: none;
    }

    .venue-facility {
      .flexbox {

        @include flex-box() {
          flex-direction: column;
        }

        @include responsive(large-tablet-screens) {
          flex-direction: row;
        }

        .slide-wrap {
          position: relative;
          width: 100%;
          height: auto;

          .slide-img {
            position: relative;

            img {
              width: 100%;
            }

            .slide-btn {
              position: absolute;
              width: 100%;
              cursor: pointer;
              @include pos-center-y();

              img {
                width: 40px;
                height: 40px;
              }

              .prev {
                left: 0;
                @include pos-center-y();
              }

              .next {
                left: calc(100% - 40px);
                @include pos-center-y();
              }
            } //slide-btn
          } //slide-img
        } //slide-wrap

        .intro-about-wrap {
          margin-top: 30px;
          font-size: 14px;

          @include responsive(large-tablet-screens) {
            min-width: 480px;
            max-width: 520px;
            margin-left: 20px;
            margin-top: 0;
            font-size: $text-font-size;
          }
          
          .intro {
            line-height: 24px;
            
            @include responsive(large-tablet-screens) {
              width: 100%;
            }
          }
        } //intro-about-wrap
      } //flexbox
    } //venue-facility (대관시설)
  } //venue-guidance (대관안내)
  
  #practice {
    font-size: 14px;

    @include responsive(large-tablet-screens) {
      font-size: $text-font-size;
    }

    .venue-facility {
      .flexbox {

        .intro-about-wrap {
          margin-top: 30px;

          @include flex-box() {
            flex-direction: column;
          }

          @include responsive(large-tablet-screens) {
            margin: 0 0 0 20px;
          }

          .intro {
            .flexbox2 {
              display: flex;
              margin-top: 10px;

              &:first-child {
                margin-top: 20px;
              }

              h4 {
                width: 80px;
                font-size: 14px;

                @include responsive(large-tablet-screens) {
                  font-size: $text-font-size;
                }
              }
            }
          } //intro

          .about-facility {
            margin-top: 40px;

            h3 {
              font-size: 16px;
            }

            .flexbox2 {
              display: flex;
              margin-top: 10px;

              h4 {
                width: 80px;
                font-size: 14px;
                font-weight: 500;

                @include responsive(large-tablet-screens) {
                  font-size: $text-font-size;
                }
              }
            }
          } //about-facility
        } //intro-about-wrap
      } //flexbox
    } //venue-facility

    .rental-fee {
      .timeandfee {
        .table-area {
          margin-top: 30px;
          margin-bottom: 134px;
  
          table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            line-height: 1.5em;
  
            @include left-right-border-none();
  
            thead {
              border-bottom: 2px solid rgb(170, 170, 170);
            }
  
            th,
            td {
              padding: 10px;
              border: 1px solid $gray-border;
            }
  
            th {
              font-weight: 500;
              background-color: $gray-bg;
            }
          } //table
        } //table-area

        .attention {
          padding-top: 20px;
          color: $point-color;
        }
      }//timeandfee
    } //rental-fee
  } //practice(연습실)
} //main


// * ===================== footer ===================== *

footer {
  color: #fff;
  background-color: #000;
  
  @include responsive(large-tablet-screens) {
      height: 800px;
  }
  
  .flex-box {
      position: relative;
      @include flex-box() {
          flex-direction: column-reverse;
      }
      
      @include responsive(large-tablet-screens) {
          flex-direction: row;
          height: 800px;
      }
      
      .left-contents {
          padding-top: 55px;
          padding-bottom: 60px;

          @include responsive(large-tablet-screens) {
              padding-top: 52px;
              padding-bottom: 0;
          }

          h2 {
              margin-left: -2px;
              letter-spacing: -0.0769230769em;
              font: {
                  size: 1.250em;
                  family: $eng-font;
                  weight: normal;
              }

              @include responsive(large-tablet-screens) {
                  margin-left: -3px;
                  font-size: 1.875em;
              }
          }

          address {
              line-height: 2;
              font: {
                  style: normal;
                  size: $mini-text-font-size;
              }

              span {
                  font: {
                      size: $mini-text-font-size;
                      family: $eng-font;
                  }
                  letter-spacing: -0.0769230769em;
              }
          }

          p {
              line-height: 2;
              font: {
                  size: $mini-text-font-size;
                  family: $eng-font;
              }
              letter-spacing: -0.0769230769em;
          }

      } // left-contents

      .right-contents {
          width: 33%;
          
          @include responsive(large-tablet-screens) {
              width: 28%;
          }

          .footer-menu {
              width: 100%;
              @include flex-box() {
                  flex-direction: column;
              }

              @include responsive(large-tablet-screens) {
                  flex-direction: row;
              }

              & > li {
                  padding-top: 56px;
              }
              
              li {                                 
                  color: #fff;
                  font: {
                      family: $eng-font;
                      weight: 500;
                  }

                  &:last-child {
                      width: 62px;
                      font-family: $eng-font;
                  }
                  
                  &:last-child > .social-menu {
                      margin-top: 34px;
                  }
                  
                  .menu-contents {
                      margin-top: 35px;

                      li {     
                          a {
                              padding-bottom: 12px;
                              color: #fff;
                              font: {
                                  size: $mini-text-font-size;
                                  family: $kor-font;
                              }

                              
                              &:hover {
                                  font-weight: bold;
                              }
                          }
                          
                          &:last-child > a {
                              padding-bottom: 0;
                          }

                          form {
                              position: relative;
                              margin-top: -3px;

                              select {
                                  width: 92px;
                                  height: 100%;
                                  border: none;
                                  color: #fff;
                                  font: {
                                      size: $mini-text-font-size;
                                      family: $kor-font;
                                  }
                                  background-color: transparent;
                                  -webkit-appearance: none;
                                     -moz-appearance: none;
                                          appearance: none;
                                  &::-ms-expand {
                                      display: none;
                                  }                                    
                              
                                  option {
                                      color: #fff;
                                      background-color: black;
                                  }
                                  
                              } // select

                              span {
                                  width: 18px;
                                  position: absolute;
                                  top: 2px; right: -28px;

                                  img {
                                      width: 100%;
                                      transition: all 0.3s;
                                  }
                              }

                              select:focus + span > img {
                                  transform: rotate(180deg);
                              }
                          } // form
                      } // li                                            
                  } // ul.menu-contents                    
              } // li
          } // footer-menu
      } // right-contents
      
      .footer-title {
          position: absolute;
          top: 65%; right: 0; left: 0;
          transform: translate(0, -50%);
          text-align: center;
          
          h1 {
              font: {
                  size: calc(38px + 11.2vw);
                  family: 'Lora';
                  weight: 500;
              }
          }
      } // footer-title
  } // flex-box

  .line {
      position: relative;
      span {
          position: absolute;
          bottom: 275px;
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #fff;
      }        
  } // div.line
} // footer