@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {    
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {    
        display: none;

        @include responsive(large-tablet-screens) {
            display: block;
        }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.number-of-seat { //공통소스
    width: 100%;
    height: 200px;
    padding: 30px;

    margin-bottom: 70px;
    background-color: $gray-bg;

    h3 {
        padding-bottom: 20px;
    }

    p {
        line-height: 26px;
    }

    .blue {
        position: absolute;
        left: 180px;
        color: $point-color;
        font-weight: 600;
    }
}

.seat-img {
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        padding-bottom: 20px;

        @include responsive (large-tablet-screens) {
            width: 70%;
        }
    }
}

.seat-img-tab {
    background-color: green;
    margin-top: 80px;  
    
    ul {
        width: 100%;
        @include flex-box();

        // @include responsive(large-tablet-screens) {
        //     @include flex-box() {
        //         flex-direction: column;
        //     }
        // }

        li {
            width: 100%;
            // background-color: pink;
            
            img {
                width: 120px;
                height: 98px;
                // height 값 auto 주면 크기 다 달라용

                @include responsive(small-tablet-screens) {
                    // width: 120px;
                    width: calc(120px + 20%);
                    // height: 98px;
                    height: calc(98px + 30%) ;
                }
            }
        }
    }
} //seat-img-tab


// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;

    .header-bg {
        width: 100%; 
        height: 100vh;
        overflow: hidden;
        margin-bottom: 140px;
        @include responsive (large-tablet-screens) {
            margin-bottom: 280px;
        }

        img {
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
    } // header-bg

    .logo-menu-box {
        position: absolute;
        top: 0; left: 0; right: 0;
        
        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {     
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {     
                            width: 132px;
                        }
                    }
                }
            } // header-logo

            nav.main-menu {
                display: none;
                width: 504px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        a {
                            font-size: $sub-title-font-size;
                            color: #fff;

                            &::after {
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            &:hover::after {
                                transform: scale(1);
                            }
                        }

                        .lnb {
                            display: none;
                        }
                    }
                } // gnb
            } // nav.main-menu

            .right-menu {
                width: 80px;
                @include pos-center-y() {
                    right: 0;
                }
                
                @include responsive(small-tablet-screens) {
                    width: 110px;
                }
                
                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();
                    
                    li {
                        a {
                            color: #fff;
                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after { 
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #fff;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        } // a
                    } // li
                } // ul
            } // right-menu
        } // flex-box
    } // logo-menu-box    
} // header


// * ===================== main ===================== *

main {
    h1 {
        font-size: 0;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 50px;


        @include responsive (large-tablet-screens) {
            font-size: 38px;
            margin-bottom: 100px;
        }
    }

    ul.tab {
        margin-top: 100px;
        margin-bottom: 50px;
        @include flex-box() {
            justify-content: center;
        }

        li {
            padding: 0 20px;

            @include responsive(large-tablet-screens) {
                padding: 0 50px;
            }

            a {
                &::after {
                    display: block;
                    content: "";
                    width: 100%;
                    height: 1px;
                    margin-top: 5px;
                    background-color: #000;
                    transform: scale(0);
                    transition: all 0.5s;
                }

                &:hover {
                    font-weight: 600;
                }

                &:hover::after {
                    transform: scale(1);
                }
            }
        }
    } //ul.tab

    .master-inner-tab {
        // visibility: hidden;

        @include flex-box() {
            justify-content: center;
        }

        li {
            padding: 0 20px 20px;

            &:first-child {
                border-right: 1px solid #ccc;
                height: 14px;
            }

            a {
                color: #ccc;

                &:hover {
                    color: $point-color;
                    font-weight: 600;
                }
            }
        }
    } //master-inner-tab

    .tab-content {
        position: relative;

        #hall-tab1 {

            .floor-tab1 {

                .number-of-seat {  

                    .orange,
                    .green,
                    .purple {
                        position: absolute;
                        left: 180px;
                    }
                    
                    .orange {
                        color: #d38b1c;
                        font-weight: 600;
                    }
    
                    .green {
                        color: #b1b77b;
                        font-weight: 600;
                    }
    
                    .purple {
                        color: #b377b5;
                        font-weight: 600;
                    }
                } //number-of-seat

                
            }
        } //hall-tab1

        #hall-tab2 {
            .caution {
                color: red;
            }


        }
    } //tab-content
} /* main */

// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;
    
    @include responsive(large-tablet-screens) {
        height: 800px;
    }
    
    .flex-box {
        position: relative;
        @include flex-box() {
            flex-direction: column-reverse;
        }
        
        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }
        
        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;
                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;
                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }
                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;
                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }
                letter-spacing: -0.0769230769em;
            }

        } // left-contents

        .right-contents {
            width: 33%;
            
            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;
                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                & > li {
                    padding-top: 56px;
                }
                
                li {                                 
                    color: #fff;
                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }
                    
                    &:last-child > .social-menu {
                        margin-top: 34px;
                    }
                    
                    .menu-contents {
                        margin-top: 35px;

                        li {     
                            a {
                                padding-bottom: 12px;
                                color: #fff;
                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }

                                
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                            
                            &:last-child > a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;
                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }
                                    background-color: transparent;
                                    -webkit-appearance: none;
                                       -moz-appearance: none;
                                            appearance: none;
                                    &::-ms-expand {
                                        display: none;
                                    }                                    
                                
                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }
                                    
                                } // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px; right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus + span > img {
                                    transform: rotate(180deg);
                                }
                            } // form
                        } // li                                            
                    } // ul.menu-contents                    
                } // li
            } // footer-menu
        } // right-contents
        
        .footer-title {
            position: absolute;
            top: 65%; right: 0; left: 0;
            transform: translate(0, -50%);
            text-align: center;
            
            h1 {
                font: {
                    size: calc(38px + 9.8vw);
                    family: $eng-font;
                    weight: 500;
                }
            }
        } // footer-title

    } // flex-box

    .line {
        position: relative;
        span {
            position: absolute;
            bottom: 280px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }        
    } // div.line
} // footer