@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: skyblue;

    @include responsive(desktop-screens) {
        width: 1400px;
        padding: 0;
    }
}

.mobile-only {    
    display: block;

    @include responsive(large-tablet-screens) {
        display: none;
    }
}

.large-only {    
        display: none;

        @include responsive(large-tablet-screens) {
            display: block;
        }
}

h2 {
    font-size: 0;
}

table, 
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// * ===================== header ===================== *

header {
    position: relative;
    width: 100vw;
    height: 250px;

    .logo-menu-box {
        position: absolute;
        top: 0; left: 0; right: 0;

        @include responsive(large-tablet-screens) {     
            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                background-color: #f1f1f1;
            }
        }
        
        .flex-box {
            position: relative;
            display: flex;
            height: 80px;

            @include responsive(large-tablet-screens) {     
                height: 100px;
            }

            .header-logo {
                width: 15%;

                a {
                    img {
                        width: 48px;
                        display: block;
                        @include pos-center-y();

                        @include responsive(large-tablet-screens) {     
                            width: 132px;
                        }
                    }
                }
            } // header-logo

            nav.main-menu {
                display: none;
                width: 590px;

                @include responsive(large-tablet-screens) {
                    display: block;
                }

                .gnb {
                    width: inherit;
                    height: 100px;
                    display: flex;
                    justify-content: space-between;
                    @include pos-center-y();

                    li {
                        width: 20%;
                        line-height: 100px;
                        text-align: center;

                        &::after {
                            line-height: 0;
                            display: block;
                            content: "";
                            width: 60%;
                            height: 2px;
                            margin: 0 auto;
                            margin-top: -34px;
                            background-color: #000;
                            transform: scale(0);
                            transition: all 0.4s;
                        }

                        &:hover::after {
                            transform: scale(1);
                        }

                        &:first-child::after {
                            width: 70%;
                        }

                        a {
                            font-size: $sub-title-font-size;
                            color: #000;
                        }

                        .lnb {
                            position: absolute;
                            //top: 101px;
                            width: 100%;
                            
                            li {
                                display: none;
                                line-height: 1;
                                margin-top: -1px;
                                background-color: rgba(0, 148, 214, 1);
                                // background-color: rgba(255, 165, 0, 0.6);
                                
                                &::after {
                                    display: none;
                                }
                                
                                a {
                                    color: #fff;
                                    font-size: 16px;
                                    width: 100%;
                                    padding: 10px 20px;

                                    &:hover {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        &:hover .lnb > li {
                            display: block;
                        }

                        &:nth-child(3) .lnb {
                            @include lnb-pos-center();
                        }

                        &:nth-child(4) .lnb {
                            @include lnb-pos-center();
                        }
                    } // li
                } // gnb
            } // nav.main-menu

            .right-menu {
                width: 80px;
                @include pos-center-y() {
                    right: 0;
                }
                
                @include responsive(small-tablet-screens) {
                    width: 110px;
                }
                
                @include responsive(large-tablet-screens) {
                    width: 188px;
                }

                @include responsive(desktop-screens) {
                    right: 0;
                }

                ul {
                    width: 100%;
                    @include flex-box();
                    
                    li {
                        a {
                            color: #000;
                            font: {
                                family: $eng-font;
                                // weight: 500;
                            }

                            &::after { 
                                display: block;
                                content: "";
                                width: 100%;
                                height: 2px;
                                margin-top: 5px;
                                background-color: #000;
                                transform: scale(0);
                                transition: all 0.4s;
                            }

                            @include responsive(large-tablet-screens) {
                                &:hover::after {
                                    transform: scale(1);
                                }
                            }

                            img {
                                width: 30px;

                                @include responsive(small-tablet-screens) {
                                    width: 40px;
                                }
                            }
                        } // a
                    } // li
                } // ul
            } // right-menu
        } // flex-box
    } // logo-menu-box    

    .overlay {
        display: block;
        width: 0;
        height: 100%;
        position: fixed;
        top: 0; right: 0;
        z-index: 2;
		background-color: rgba(0, 0, 0, 0.96);

        @include responsive(small-tablet-screens) {
            max-width: 580px;
        }

        .close-btn {
            position: absolute;
            top: 0px; right: 20px;
            font: {
                size: 55px;
                weight: 100;
                
            }
            color: #f1f1f1;
        }

        .overlay-menu {
            position: relative;
            top: 22%;
            text-align: center;
            // margin-top: 20px;

            ul {

                li {
                    a {
                        font: {
                            size: 26px;
                            weight: 400;
                        }
                        color: #fff;
                        padding: 15px 0;

                        &.on {
                            color: $point-color;
                            transform: skew(-15deg);
                        }
                    }

                    ul {

                        li {
                            display: none;

                            &.on {
                                display: block;
                            }
                            
                            a {
                                position: relative;
                                display: inline-block;
                                font: {
                                    size: 18px;
                                    weight: 300;
                                }

                                &:hover,
                                &:focus {
                                    transform: skew(0);
                                }
                                
                                &::after {
                                    position: absolute;
                                    left: 0; bottom: 10px;
                                    content: "";
                                    width: 0;
                                    height: 1px;
                                    background-color: #fff;
                                    transition: all 0.4s;
                                }

                                &:hover::after {
                                    width: 100%;
                                }
                                

                            }
                            
                        } // li
                    } // ul(depth-2)
                    
                } // li
            } // ul(depth-1)
        } // overlay-menu
    } // overlay
} // header


// * ===================== main ===================== *

main {
    position: relative;
    width: 100vw;
    margin-bottom: 266px;

    h1 {
        margin-bottom: 58px;
    }

    .notice-wrap {
        margin-bottom: 102px;
        // background-color: red;
        .notice-title {
                border-bottom: 1px solid $gray-border;
                
                a {
                    margin-top: 16px;
                    padding: 12px 0;
                    // background-color: aquamarine;
        
                    @include responsive(large-tablet-screens) {
                        font-size: calc($text-font-size + 2px);
                    }
        
                    &:hover {
                        font-weight: 600;
                    }
                }
        
                time {
                    display: block;
                    padding-bottom: 28px;
                    font-size: $mini-text-font-size;
                    color: $gray-font;
        
                    @include responsive(large-tablet-screens) {
                        font-size: calc($mini-text-font-size + 1px);
                    }
                }
        } // notice-title


        .notice-content {
            margin-top: 44px;
            padding-bottom: 88px;
            border-bottom: 1px solid $gray-border;

            p {
                line-height: 2;
                font-size: 14px;

                @include responsive(large-tablet-screens) {
                    font-size: $text-font-size;
                }
            }
        } // notice-content

        .back {
            margin: 0 auto;
            margin-top: 44px;
            width: 60px;
            height: 30px; 
            line-height: 30px;
            font-size: 16px;
            text-align: center;
            color: #fff;
            background-color: $point-color;

            @include responsive(large-tablet-screens) {
                width: 70px;
                height: 35px; 
                line-height: 35px;
                font-size: 18px;

            }
        }

    } // notice-wrap

} // main


// * ===================== footer ===================== *

footer {
    color: #fff;
    background-color: #000;
    
    @include responsive(large-tablet-screens) {
        height: 800px;
    }
    
    .flex-box {
        position: relative;
        @include flex-box() {
            flex-direction: column-reverse;
        }
        
        @include responsive(large-tablet-screens) {
            flex-direction: row;
            height: 800px;
        }
        
        .left-contents {
            padding-top: 55px;
            padding-bottom: 60px;

            @include responsive(large-tablet-screens) {
                padding-top: 52px;
                padding-bottom: 0;
            }

            h2 {
                margin-left: -2px;
                letter-spacing: -0.0769230769em;
                font: {
                    size: 1.250em;
                    family: $eng-font;
                    weight: normal;
                }

                @include responsive(large-tablet-screens) {
                    margin-left: -3px;
                    font-size: 1.875em;
                }
            }

            address {
                line-height: 2;
                font: {
                    style: normal;
                    size: $mini-text-font-size;
                }

                span {
                    font: {
                        size: $mini-text-font-size;
                        family: $eng-font;
                    }
                    letter-spacing: -0.0769230769em;
                }
            }

            p {
                line-height: 2;
                font: {
                    size: $mini-text-font-size;
                    family: $eng-font;
                }
                letter-spacing: -0.0769230769em;
            }

        } // left-contents

        .right-contents {
            width: 33%;
            
            @include responsive(large-tablet-screens) {
                width: 28%;
            }

            .footer-menu {
                width: 100%;
                @include flex-box() {
                    flex-direction: column;
                }

                @include responsive(large-tablet-screens) {
                    flex-direction: row;
                }

                & > li {
                    padding-top: 56px;
                }
                
                li {                                 
                    color: #fff;
                    font: {
                        family: $eng-font;
                        weight: 500;
                    }

                    &:last-child {
                        width: 62px;
                        font-family: $eng-font;
                    }
                    
                    &:last-child > .social-menu {
                        margin-top: 34px;
                    }
                    
                    .menu-contents {
                        margin-top: 35px;

                        li {     
                            a {
                                padding-bottom: 12px;
                                color: #fff;
                                font: {
                                    size: $mini-text-font-size;
                                    family: $kor-font;
                                }

                                
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                            
                            &:last-child > a {
                                padding-bottom: 0;
                            }

                            form {
                                position: relative;
                                margin-top: -3px;

                                select {
                                    width: 92px;
                                    height: 100%;
                                    border: none;
                                    color: #fff;
                                    font: {
                                        size: $mini-text-font-size;
                                        family: $kor-font;
                                    }
                                    background-color: transparent;
                                    -webkit-appearance: none;
                                       -moz-appearance: none;
                                            appearance: none;
                                    &::-ms-expand {
                                        display: none;
                                    }                                    
                                
                                    option {
                                        color: #fff;
                                        background-color: black;
                                    }
                                    
                                } // select

                                span {
                                    width: 18px;
                                    position: absolute;
                                    top: 2px; right: -28px;

                                    img {
                                        width: 100%;
                                        transition: all 0.3s;
                                    }
                                }

                                select:focus + span > img {
                                    transform: rotate(180deg);
                                }
                            } // form
                        } // li                                            
                    } // ul.menu-contents                    
                } // li
            } // footer-menu
        } // right-contents
        
        .footer-title {
            position: absolute;
            top: 65%; right: 0; left: 0;
            transform: translate(0, -50%);
            text-align: center;
            
            h1 {
                font: {
                    size: calc(38px + 11.2vw);
                    family: 'Lora';
                    weight: 500;
                }
            }
        } // footer-title

    } // flex-box

    .line {
        position: relative;
        span {
            position: absolute;
            bottom: 275px;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fff;
        }        
    } // div.line
} // footer