@mixin responsive($break-point) {
    @if($break-point == mobile-screens) {
        @media screen and (min-width:$break-mobile) {
            @content;
        }
    }

    @else if($break-point == small-tablet-screens) {
        @media screen and (min-width:$break-small-tablet) {
            @content;
        }
    }

    @else if($break-point == medium-tablet-screens) {
        @media screen and (min-width:$break-medium-tablet) {
            @content;
        }
    }

    @else if($break-point == large-tablet-screens) {
        @media screen and (min-width:$break-large-tablet) {
            @content;
        }
    }

    @else if($break-point == desktop-screens) {
        @media screen and (min-width:$break-desktop) {
            @content;
        }
    }
}

@mixin pos-center-x($type: absolute) { // 수평 가운데 정렬
    @if($type == fixed or $type == absolute ){
        position: $type;
        left: 50%;
        transform: translateX(-50%);
        @content;
    }
}

@mixin pos-center-y($type: absolute) { // 수직 가운데 정렬
    @if($type == fixed or $type == absolute ){
        position: $type;
        top: 50%;
        transform: translateY(-50%);
        @content;
    }
}

@mixin pos-center($type: absolute) { // 수직수평 가운데 정렬
    @if($type == fixed or $type == absolute) {
        position: $type;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @content;
    }
}

@mixin flex-box($jc: space-between) { // flex 박스 설정
    display: flex;
    justify-content: $jc;
    @content;
}

@mixin clear-fix() { // float 사용 후 clear 처리
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

// background-gradiunt 넣기
@mixin background-gradiunt($path:"../img/roykim/",$name,$format:".png") {
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 95%,
        rgba(255,255,255,1) 100%
    ), url("#{$path}#{$name}#{$format}");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}