@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 16px "Pretendard", "Nanum Gothic", "맑은 고딕";
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

strong {
  display: block;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    padding: 0;
  }
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

.large-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .large-only {
    display: block;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100vw;
}
header .header-bg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
header .header-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .logo-menu-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .logo-menu-box .flex-box {
  position: relative;
  display: flex;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box {
    height: 100px;
  }
}
header .logo-menu-box .flex-box .header-logo {
  width: 15%;
}
header .logo-menu-box .flex-box .header-logo a img {
  width: 48px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .header-logo a img {
    width: 132px;
  }
}
header .logo-menu-box .flex-box nav.main-menu {
  display: none;
  width: 504px;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box nav.main-menu {
    display: block;
  }
}
header .logo-menu-box .flex-box nav.main-menu .gnb {
  width: inherit;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li a {
  font-size: 18px;
  color: #fff;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.4s;
}
header .logo-menu-box .flex-box nav.main-menu .gnb li a:hover::after {
  transform: scale(1);
}
header .logo-menu-box .flex-box nav.main-menu .gnb li .lnb {
  display: none;
}
header .logo-menu-box .flex-box .right-menu {
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media screen and (min-width: 600px) {
  header .logo-menu-box .flex-box .right-menu {
    width: 110px;
  }
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu {
    width: 188px;
  }
}
@media screen and (min-width: 1400px) {
  header .logo-menu-box .flex-box .right-menu {
    right: 0;
  }
}
header .logo-menu-box .flex-box .right-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .logo-menu-box .flex-box .right-menu ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
}
header .logo-menu-box .flex-box .right-menu ul li a::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.4s;
}
@media screen and (min-width: 1024px) {
  header .logo-menu-box .flex-box .right-menu ul li a:hover::after {
    transform: scale(1);
  }
}
header .logo-menu-box .flex-box .right-menu ul li a img {
  width: 30px;
}
@media screen and (min-width: 600px) {
  header .logo-menu-box .flex-box .right-menu ul li a img {
    width: 40px;
  }
}

main {
  margin: 266px 0;
  line-height: 1.5em;
}
main h1 {
  font-size: 26px;
}
@media screen and (min-width: 1024px) {
  main h1 {
    font-size: 38px;
  }
}
main ul.tab {
  margin-top: 58px;
  margin-bottom: 50px;
  margin-left: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
}
@media screen and (min-width: 1024px) {
  main ul.tab {
    width: 1400px;
    margin: 58px auto 50px;
  }
}
main ul.tab::-webkit-scrollbar {
  display: none;
}
main ul.tab li {
  margin-right: 60px;
}
main ul.tab li:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  main ul.tab li {
    margin-right: 120px;
  }
}
main ul.tab li a::after {
  margin-top: 10px;
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 5px 5px 0 0;
  background-color: #000;
  transform: scale(0);
  transition: all 0.4s;
}
main ul.tab li a:hover {
  font-weight: 600;
}
main ul.tab li a:hover::after {
  transform: scale(1);
}
main .sub-tab {
  width: 220px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
main .sub-tab li {
  width: 100px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
}
main .sub-tab li a:hover {
  font-weight: 600;
  border-radius: 30px;
  background-color: rgba(0, 148, 214, 0.2);
}
main section {
  display: none;
}
main section.show {
  display: block;
}
main .venue-guidance > h2 {
  display: none;
}
@media screen and (min-width: 1024px) {
  main .venue-guidance .venue-facility .flexbox {
    display: flex;
  }
}
main .venue-guidance .venue-facility .flexbox .slide-wrap {
  position: relative;
}
@media screen and (min-width: 1024px) {
  main .venue-guidance .venue-facility .flexbox .slide-wrap {
    width: 100%;
  }
}
main .venue-guidance .venue-facility .flexbox .slide-wrap .slide-img {
  width: 100%;
  height: 500px;
}
main .venue-guidance .venue-facility .flexbox .slide-wrap .slide-img img {
  width: 100%;
  height: 500px;
  top: 300px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 1s;
}
main .venue-guidance .venue-facility .flexbox .slide-wrap .slide-img img:first-child {
  opacity: 1;
}
main .venue-guidance .venue-facility .flexbox .slide-wrap .slide-btn {
  background-color: red;
}
main .venue-guidance .venue-facility .flexbox .slide-wrap .slide-btn .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
main .venue-guidance .venue-facility .flexbox .slide-wrap .slide-btn .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap {
  margin-top: 30px;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  main .venue-guidance .venue-facility .flexbox .intro-equip-wrap {
    width: 100%;
    margin-left: 20px;
    margin-top: 0;
    font-size: 16px;
  }
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .intro {
  line-height: 24px;
}
@media screen and (min-width: 1024px) {
  main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .intro {
    width: 100%;
  }
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .equipment-list {
  margin-top: 30px;
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .equipment-list h3 {
  margin-bottom: 10px;
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .equipment-list .btn-flex {
  display: flex;
  line-height: 30px;
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .equipment-list .btn-flex div {
  width: 110px;
  padding-right: 20px;
  margin-bottom: 10px;
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .equipment-list .btn-flex .download {
  width: 120px;
  height: 28px;
  font-size: 14px;
  color: white;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  background-color: #0094d6;
}
main .venue-guidance .venue-facility .flexbox .intro-equip-wrap .equipment-list .list1 {
  margin-bottom: 10px;
}
main .venue-guidance .rental-fee {
  line-height: 30px;
  margin-top: 40px;
}
main .venue-guidance .rental-fee h2 {
  position: relative;
  font-size: 26px;
  font-weight: normal;
  padding-left: 13px;
}
main .venue-guidance .rental-fee h2::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #0094d6;
}
main .venue-guidance .rental-fee h3 {
  font-weight: normal;
  color: #0094d6;
}
main .venue-guidance .rental-fee .perform-fee {
  font-size: 14px;
}
main .venue-guidance .rental-fee .perform-fee .flexbox2 {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  main .venue-guidance .rental-fee .perform-fee .flexbox2 {
    display: flex;
  }
}
main .venue-guidance .rental-fee .perform-fee .flexbox2 h3 {
  width: 140px;
}
main .venue-guidance .rental-fee .prepare-fee {
  font-size: 14px;
}
main .venue-guidance .rental-fee .prepare-fee .flexbox2 {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  main .venue-guidance .rental-fee .prepare-fee .flexbox2 {
    display: flex;
  }
}
main .venue-guidance .rental-fee .prepare-fee .flexbox2 h3 {
  width: 140px;
}
main .venue-guidance .rental-fee .agreement {
  width: 100%;
  margin-top: 80px;
  padding: 40px;
  text-align: center;
  background-color: #eee;
}
@media screen and (min-width: 1024px) {
  main .venue-guidance .rental-fee .agreement {
    width: 1000px;
  }
}
main .venue-guidance .rental-fee .agreement a {
  display: inline-block;
  color: #0094d6;
  font-weight: 600;
}
main #shinhan div {
  display: none;
}
main #shinhan div.active {
  display: block;
}
main #master .rental-fee h2 {
  margin-bottom: 38px;
}
main #master .rental-fee .table-area {
  margin-top: 30px;
  margin-bottom: 134px;
}
main #master .rental-fee .table-area table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
}
main #master .rental-fee .table-area table th:first-child {
  border-left: 0;
}
main #master .rental-fee .table-area table th:last-child {
  border-right: 0;
}
main #master .rental-fee .table-area table td:first-child {
  border-left: 0;
}
main #master .rental-fee .table-area table td:last-child {
  border-right: 0;
}
main #master .rental-fee .table-area table thead {
  border-bottom: 3px solid #0094d6;
}
main #master .rental-fee .table-area table th,
main #master .rental-fee .table-area table td {
  padding: 10px;
  border: 1px solid #ccc;
}
main #master .rental-fee .table-area table th {
  font-weight: 500;
  background-color: #eee;
}
main #master .rental-fee .attention {
  padding-top: 20px;
}
main #practice,
main #kaos,
main #nemo {
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  main #practice,
main #kaos,
main #nemo {
    font-size: 16px;
  }
}
main #practice .venue-facility .flexbox .intro-about-wrap,
main #kaos .venue-facility .flexbox .intro-about-wrap,
main #nemo .venue-facility .flexbox .intro-about-wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main #practice .venue-facility .flexbox .intro-about-wrap,
main #kaos .venue-facility .flexbox .intro-about-wrap,
main #nemo .venue-facility .flexbox .intro-about-wrap {
    margin: 0 0 0 20px;
  }
}
main #practice .venue-facility .flexbox .intro-about-wrap .intro .flexbox2,
main #kaos .venue-facility .flexbox .intro-about-wrap .intro .flexbox2,
main #nemo .venue-facility .flexbox .intro-about-wrap .intro .flexbox2 {
  display: flex;
  margin-top: 10px;
}
main #practice .venue-facility .flexbox .intro-about-wrap .intro .flexbox2:first-child,
main #kaos .venue-facility .flexbox .intro-about-wrap .intro .flexbox2:first-child,
main #nemo .venue-facility .flexbox .intro-about-wrap .intro .flexbox2:first-child {
  margin-top: 20px;
}
main #practice .venue-facility .flexbox .intro-about-wrap .intro .flexbox2 h4,
main #kaos .venue-facility .flexbox .intro-about-wrap .intro .flexbox2 h4,
main #nemo .venue-facility .flexbox .intro-about-wrap .intro .flexbox2 h4 {
  width: 80px;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  main #practice .venue-facility .flexbox .intro-about-wrap .intro .flexbox2 h4,
main #kaos .venue-facility .flexbox .intro-about-wrap .intro .flexbox2 h4,
main #nemo .venue-facility .flexbox .intro-about-wrap .intro .flexbox2 h4 {
    font-size: 16px;
  }
}
main #practice .venue-facility .flexbox .intro-about-wrap .about-facility,
main #kaos .venue-facility .flexbox .intro-about-wrap .about-facility,
main #nemo .venue-facility .flexbox .intro-about-wrap .about-facility {
  margin-top: 40px;
}
main #practice .venue-facility .flexbox .intro-about-wrap .about-facility h3,
main #kaos .venue-facility .flexbox .intro-about-wrap .about-facility h3,
main #nemo .venue-facility .flexbox .intro-about-wrap .about-facility h3 {
  font-size: 16px;
}
main #practice .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2,
main #kaos .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2,
main #nemo .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2 {
  display: flex;
  margin-top: 10px;
}
main #practice .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2 h4,
main #kaos .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2 h4,
main #nemo .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2 h4 {
  width: 80px;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  main #practice .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2 h4,
main #kaos .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2 h4,
main #nemo .venue-facility .flexbox .intro-about-wrap .about-facility .flexbox2 h4 {
    font-size: 16px;
  }
}
main #practice .rental-fee .timeandfee .table-area,
main #kaos .rental-fee .timeandfee .table-area,
main #nemo .rental-fee .timeandfee .table-area {
  margin-top: 30px;
  margin-bottom: 134px;
}
main #practice .rental-fee .timeandfee .table-area table,
main #kaos .rental-fee .timeandfee .table-area table,
main #nemo .rental-fee .timeandfee .table-area table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
}
main #practice .rental-fee .timeandfee .table-area table th:first-child,
main #kaos .rental-fee .timeandfee .table-area table th:first-child,
main #nemo .rental-fee .timeandfee .table-area table th:first-child {
  border-left: 0;
}
main #practice .rental-fee .timeandfee .table-area table th:last-child,
main #kaos .rental-fee .timeandfee .table-area table th:last-child,
main #nemo .rental-fee .timeandfee .table-area table th:last-child {
  border-right: 0;
}
main #practice .rental-fee .timeandfee .table-area table td:first-child,
main #kaos .rental-fee .timeandfee .table-area table td:first-child,
main #nemo .rental-fee .timeandfee .table-area table td:first-child {
  border-left: 0;
}
main #practice .rental-fee .timeandfee .table-area table td:last-child,
main #kaos .rental-fee .timeandfee .table-area table td:last-child,
main #nemo .rental-fee .timeandfee .table-area table td:last-child {
  border-right: 0;
}
main #practice .rental-fee .timeandfee .table-area table thead,
main #kaos .rental-fee .timeandfee .table-area table thead,
main #nemo .rental-fee .timeandfee .table-area table thead {
  border-bottom: 3px solid #0094d6;
}
main #practice .rental-fee .timeandfee .table-area table th,
main #practice .rental-fee .timeandfee .table-area table td,
main #kaos .rental-fee .timeandfee .table-area table th,
main #kaos .rental-fee .timeandfee .table-area table td,
main #nemo .rental-fee .timeandfee .table-area table th,
main #nemo .rental-fee .timeandfee .table-area table td {
  padding: 10px;
  border: 1px solid #ccc;
}
main #practice .rental-fee .timeandfee .table-area table th,
main #kaos .rental-fee .timeandfee .table-area table th,
main #nemo .rental-fee .timeandfee .table-area table th {
  font-weight: 500;
  background-color: #eee;
}
main #practice .rental-fee .timeandfee .attention,
main #kaos .rental-fee .timeandfee .attention,
main #nemo .rental-fee .timeandfee .attention {
  padding-top: 20px;
  color: #0094d6;
}

footer {
  color: #fff;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  footer {
    height: 800px;
  }
}
footer .flex-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1024px) {
  footer .flex-box {
    flex-direction: row;
    height: 800px;
  }
}
footer .flex-box .left-contents {
  padding-top: 55px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents {
    padding-top: 52px;
    padding-bottom: 0;
  }
}
footer .flex-box .left-contents h2 {
  margin-left: -2px;
  font-size: 1.25em;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: normal;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .left-contents h2 {
    margin-left: -3px;
    font-size: 1.875em;
  }
}
footer .flex-box .left-contents address {
  line-height: 2;
  font-style: normal;
  font-size: 13px;
}
footer .flex-box .left-contents address span {
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .left-contents p {
  line-height: 2;
  font-size: 13px;
  font-family: "Montserrat", sans-serif, Arial;
  letter-spacing: -0.0769230769em;
}
footer .flex-box .right-contents {
  width: 33%;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents {
    width: 28%;
  }
}
footer .flex-box .right-contents .footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer .flex-box .right-contents .footer-menu {
    flex-direction: row;
  }
}
footer .flex-box .right-contents .footer-menu > li {
  padding-top: 56px;
}
footer .flex-box .right-contents .footer-menu li {
  color: #fff;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 500;
}
footer .flex-box .right-contents .footer-menu li:last-child {
  width: 62px;
  font-family: "Montserrat", sans-serif, Arial;
}
footer .flex-box .right-contents .footer-menu li:last-child > .social-menu {
  margin-top: 34px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents {
  margin-top: 35px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a {
  padding-bottom: 12px;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
}
footer .flex-box .right-contents .footer-menu li .menu-contents li a:hover {
  font-weight: bold;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li:last-child > a {
  padding-bottom: 0;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form {
  position: relative;
  margin-top: -3px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select {
  width: 92px;
  height: 100%;
  border: none;
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select::-ms-expand {
  display: none;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select option {
  color: #fff;
  background-color: black;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span {
  width: 18px;
  position: absolute;
  top: 2px;
  right: -28px;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form span img {
  width: 100%;
  transition: all 0.3s;
}
footer .flex-box .right-contents .footer-menu li .menu-contents li form select:focus + span > img {
  transform: rotate(180deg);
}
footer .flex-box .footer-title {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
}
footer .flex-box .footer-title h1 {
  font-size: calc(38px + 9.8vw);
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 500;
}
footer .line {
  position: relative;
}
footer .line span {
  position: absolute;
  bottom: 280px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
}/*# sourceMappingURL=venue_guidance.css.map */